/* select */
select.form_select{color:#333;cursor:pointer;font-size:18px; font-weight:500; border:1px solid #bbb;height: 48px;padding: 0 40px 0 16px;border-radius:8px;box-sizing:border-box;
    background: #fff url("../images/ico_select_allow.png") no-repeat calc(100% - 16px) 50%/7px 4px;line-height:48px;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#333;}
    &::-ms-expand {display: none;}
    &.current_placeholder{color:#bbb;
        &:hover{color:#333;}
    }
    &.size2{height:48px;border-radius:8px;font-size:16px;}
    &.size3{height:36px;border-radius:8px;line-height:36px;font-size:16px;font-weight:500;}
    &.full{width:100%;}
}
@media (max-width:$mobile){
    select.form_select{
        font-size:14px !important; height: 40px; line-height:40px;padding:0 25px 0 10px; background-position:calc(100% - 10px);
    }
}

/* input */
input.form_input{
    border:1px solid #ddd; appearance: none; border-radius:12px;width:100%;height:60px; box-sizing: border-box; padding:0 16px;font-size:18px; font-weight:500; color:#000;
    &.search_input{border:0;height:46px;border-radius:8px;width:100%; padding-right:0;
        &::-webkit-input-placeholder{color:#bbb;}
        &::-moz-input-placeholder{color:#bbb;}
        &:-ms-input-placeholder{color:#bbb;}
        &::-ms-input-placeholder{color:#bbb;}
        &::input-placeholder{color:#bbb;}
    }
    &.size2{height:48px;border-radius:8px;}
    &.calendar_type{background:#fff url("../images/ico_calendar_input.png") no-repeat calc(100% - 8px) 50%/32px auto;padding-right:50px;}
    &:disabled{
        background:#E9E9E9; color:#bbb; border-color:#bbb;
    }
}

input.form_input_value{
    border:1px solid #ddd; @include rubik; text-align:right; appearance: none; border-radius:8px;width:100%;height:48px; box-sizing: border-box; padding:0 16px;font-size:18px; font-weight:500; color:#333;
    &:disabled{
        background:#E9E9E9; color:#333;
    }
}

@media (max-width:$tablet){
    input.form_input_value{font-size:16px;}
}
@media (max-width:$mobile){
    input.form_input{font-size:14px !important;
        padding:0 10px;
        &.search_input{height:38px;
        }
    }
    input.form_input_value{font-size:14px;}
}

/* textarea */
textarea.form_textarea{border:1px solid #ddd; line-height:1.4; font-size:18px; font-weight:500; color:#000; appearance: none; border-radius:8px;width:100%;height:348px; padding:16px 16px; color:#000; box-sizing: border-box; resize: none;
    &.htype2{height:300px;}
    &.htype3{height:48px;padding-top:10px;padding-bottom:10px;}
    &.htype4{height:100px;}
    &:disabled{
        background:#E9E9E9; color:#333;
    }
}
@media (max-width:$mobile){
    textarea.form_textarea{font-size:14px; border-radius:8px;}
}

/* props */
.props_item{display:flex;gap:8px;align-items: flex-start;}
input.props_form{width:20px;height:20px;flex:0 0 20px;appearance: none;border-radius:4px;cursor: pointer;background:#fff url("../images/ico_checkbox2.png") no-repeat 0 0/100% auto;border:1px solid #ddd;
    &:checked{
        /*background-color:$primary;  border-color:$primary; */background-position:0 100%;
        & + .props_label{}
    }
}
.props_label{font-size:14px;color:#999999;font-weight:500;display:inline-block;padding:1px 0 0 0;cursor: pointer;}
.props_form{
}
.box_radio_item_group{display:flex;gap:12px;flex-wrap:wrap;
    &.type2{
        .box_radio_label{min-height:40px;min-width:80px;}
    }
    &.type3{
        gap:6px;
        .box_radio_label{min-height:24px;min-width:0; font-size:14px;padding:0 8px;border-radius:4px;}
    }
}
.box_radio_item{position:relative;display:flex;
    
}
.box_radio_label{display:flex; width:100%; padding:10px 16px; word-break:keep-all; font-weight:500; min-height:48px; min-width:120px;text-align:center; box-sizing: border-box; justify-content: center; align-items: center;  background:#fff; border:1px solid #bbb; border-radius:8px; font-size:18px;color:#999999; cursor: pointer;
    &.type2{min-width:inherit;}
}
.box_radio_form{
    width:0;height:0; appearance: none; box-sizing: border-box; overflow:hidden;flex:0; 
    &:checked{
        & + .box_radio_label{background-color:$sub_color; color:#fff;border-color:$sub_color; font-weight:700;}
    }
    &:disabled{
        & + .box_radio_label{background-color:#E9E9E9; color:#bbb;border-color:#ddd; font-weight:700;cursor: default;}
    }
}
@media (max-width:$tablet){
    .box_radio_label{min-width:80px;padding:10px;}
}
@media (max-width:$mobile){
    .box_radio_label{font-size:14px;/* min-height:30px; */}
    .box_radio_item_group{gap:10px;}
    .grid_form_value{
        .box_radio_item_group{display:flex;gap:8px 10px;
            &.type2{
                .box_radio_label{min-height:30px;min-width:60px;font-size:14px;}
            }
            &.break_type2{
                flex-wrap:wrap; gap:8px 10px;
                .box_radio_item{flex:0 0 calc(50% - 5px);}
            }
        }
    }
    .box_radio_label{min-height:30px;}
}

/* grid */
.grid_container{
    display:flex;gap:16px;
    > .grid_cols{flex:1;}
}


/* button */
.btn_box{min-width:180px;min-height:60px;padding:0 32px;box-sizing: border-box;display:inline-flex; align-items: center; justify-content: center; background:$primary; border:1px solid $primary; border-radius: 12px;
    &.type2{
        background:#fff;
        .btn_box_text{color:$primary;}
    }
    &.type3{
        background:$sub_color; border-color:$sub_color;
        .btn_box_text{color:#fff;}
    }
    &.skin2{
        background:#333;border-color:#333; border-radius:8px;
        .btn_box_text{color:#fff;font-size:18px;}
    }
    &.size2{
        min-height:48px; min-width:140px; 
    }
}
.btn_box_text{display:inline-block;font-weight:700;color:#fff;line-height:1;font-size:20px;letter-spacing: -0.05em;}
.btn_bottom_wrap{margin-top:64px;text-align: center;display:flex;justify-content: center;gap:20px;flex-wrap:wrap;
    &.type2{gap:16px;}
}
.btn_box_group{margin-top:32px;text-align: center;display:flex;justify-content: center;gap:20px;flex-wrap:wrap;
    &.type2{
        justify-content: flex-end;
    }
    &.gap_type2{gap:16px;}
    & + .paging_wrap{margin-top:15px;}
}
.btn_control{
    display:inline-block;width:48px;height:48px;border-radius:8px; flex:0 0 48px;  border:1px solid #999; background-repeat:no-repeat; background-position: 50% 50%; background-color:#fff;
    &.ico_reload{background-image:url("../images/ico_replay.png");background-size:24px auto;}
}
.btn_control_quad{
    background:#999999; border-radius:8px; display:inline-block; color:#fff;line-height:1; font-weight:700; font-size:16px;padding:8px 13px; white-space: nowrap;
}
@media (max-width:$tablet){
    .btn_box{min-width:140px;min-height:50px;}
    .btn_box_group,
    .btn_bottom_wrap{gap:15px;
        &.type2{gap:10px;}
    }
}
@media (max-width:$mobile){
    .btn_bottom_wrap{gap:10px;margin-top:30px;
        &.type2{gap:5px;}
        .btn_box{flex:1;}
    }
    .btn_box_group{gap:10px !important;margin-top:20px;}
    .btn_box{min-width:100px;min-height:45px;border-radius:8px;padding:0 20px;
        &.skin2{
            .btn_box_text{font-size:16px;}
        }
        &.size2{
            min-height:48px; min-width:140px; 
        }
    }
    .btn_box_text{font-size:16px; position:relative;top:1px;}

    .btn_control{
        border-radius:8px;
    }

    .btn_control_quad{padding:6px 10px; border-radius:5px; font-size:14px;}
}
@media (max-width:$mobile_size3){
    .btn_box{min-width:70px;}
}


/* pagination */
.paging_wrap {margin-top:64px; display:flex;justify-content: center; align-items: center;gap:8px;}
.paging_control,
.paging_number{display: inline-flex;  align-items:center; justify-content:center; width: 40px;height: 40px;border:1px solid #ddd;border-radius:8px;background: #fff;font-size:12px;}
.paging_number_group{display:flex;align-items: center;gap:8px;justify-content: center}

.paging_number{@include rubik; color:#999; font-size:16px;
    &.active,
    &:focus,&:hover{background:$primary; color:#fff;font-family: 'Rubik Bold';border-color:$primary}
    &.active{cursor: default;}
}

.paging_control{
    flex:0 0 40px;
    &:before{display:block;content:'';width:15px;height:15px; background-repeat:no-repeat; background-size:100% auto; background-position:0 -15px;}
    &.first:before{background-image:url("../images/ico_paging_first.png");}
    &.prev:before{background-image:url("../images/ico_paging_prev.png");}
    &.next:before{background-image:url("../images/ico_paging_next.png");}
    &.last:before{background-image:url("../images/ico_paging_end.png");}

    &.disabled{
        cursor: default;
        &:before{background-position:0 0 !important;}
    }
    &:focus,
    &:hover{
        &:before{
            background-position:0 100%
        }
    }
}

@media (max-width:$mobile){
    .paging_wrap {margin-top:30px; gap:5px;}
    .paging_control,
    .paging_number{width: 30px;height: 30px;}
    .paging_number_group{gap:5px;}

    .paging_number{font-size:13px;}

    .paging_control{
        flex-basis: 30px;
    }
}

@media (max-width:$mobile_small){
    .paging_wrap {gap:3px;}
    .paging_control,
    .paging_number{width: 22px;height: 22px;}
    .paging_number_group{gap:3px;}

    .paging_number{font-size:12px;}

    .paging_control{
        flex-basis: 22px;
    }
}



/* tab */
.tab_menu_list_wrap{margin-top:32px;position:relative;
    &:before{display:block;content:'';width:100vw;height:1px;background:#ddd;position:absolute;bottom:0;left:50%;transform:translate(-50% ,0)}
    &::-webkit-scrollbar{width:0;height:0;}

    &.type2{
        .tab_menu{min-height:50px;}
    }
}
.tab_menu_list{
    display:flex;gap:46px;justify-content:center;/*  flex-wrap:wrap; */
     > li{}
}
.tab_menu{
    display:flex;align-items:center;min-height:60px; justify-content: center; position:relative;padding:10px 24px; box-sizing: border-box; white-space: nowrap;
    &:after{display:block;content:'';height:5px;background:#333;position:absolute;bottom:0;left:0;width:100%;opacity:0;}
    &.active{
        .tab_menu_text{color:#333333; font-weight:700;}
        &:after{opacity:1;}
    }
    .current_menu_text{}
}
.tab_menu_text{display:inline-block;color:#999999;font-size:20px;line-height:1;font-weight:500;}
.current_menu_text{display:inline-block;opacity:0;position:absolute;color:transparent;top:50%;left:50%;transform: translate(-50%,-50%);}
.tab_cont_wrap{margin-top:32px;}
.tab_cont{}

.tab_contents_depth_wrap{
    > .column_obj_item_wrap{margin-top:64px;}
}


.boxtab_list_wrap{
    &.type2{
        max-width:1280px;margin:0 auto;

        .boxtab_list{
            > li{flex:1;}

        }

        .boxtab_item{
            padding:10px;
            &:after{display:none;background-image:url("../images/ico_tab_org_poiner.png");width:16px;height:10px;top:100%;right:auto;margin-top:-1px;left:50%;transform: translateX(-50%);}
            &.active{
                background:$sub_color; 
                &:after{display:block;}
                .boxtab_text{color:#fff;line-height:1;font-weight:700;}
            }
        }
        .boxtab_text{/* position:relative;top:2px; */}
    }
}
.boxtab_list{
    display:flex; justify-content: center; align-items: center; gap:16px;
    > li {
        &.active{
            
        }
        &:last-of-type{
            .boxtab_item{&:after{display:none}}
        }
    }
}
.boxtab_item{
    display:flex;text-align:center;width:100%;height:100%;box-sizing:border-box;position:relative;border-radius:12px;align-items:center;justify-content:center;min-width:200px;min-height:60px; background:#E9E9E9;
    &:after{display:block;content:'';width:8px;height:15px;background:url("../images/tab_right_pointer.png") no-repeat 0 0/100% auto;position:absolute;top:50%;right:1px;transform: translate(100%,-50%);}

    &.active{
        background:#333333;
        &:after{background-image:url("../images/tab_right_pointer_active.png")}
        .boxtab_text{font-size:20px;color:#fff;line-height:1;font-weight:700;}
    }
}
.boxtab_text{display:inline-block;font-size:20px;color:#999999;line-height:1;font-weight:500; }

@media (max-width:$tablet){
    .tab_menu_list_wrap{margin-top:0; overflow: hidden; overflow-x:auto;
        /* &:before{display:none;} */
        &.type2{
            .tab_menu{min-height:45px;}
        }
        
        &.mtype2{
            margin-top:32px;   
        }
    }
    .tab_menu_list{
        gap:0;
        > li{flex:1; box-sizing: border-box;background:#fff;}
    }
    .tab_menu{
        min-height:45px;padding:10px 14px; position:relative;
        &:after{height:3px;}
    }
    .tab_menu_text{font-size:15px;}

    .tab_contents_depth_wrap{
        > .column_obj_item_wrap{margin-top:32px;}
    }    
}

@media (max-width:$mobile_large){
    .tab_menu_list_wrap{
        &.mtype2{
            margin-top:20px;   
        }
    }
    .boxtab_list{
        gap:10px;
        > li {flex:1;}
    }
    .boxtab_item{
        border-radius:8px;min-width:0;min-height:50px;

        &.active{
            .boxtab_text{font-size:16px;}
        }
    }
    .boxtab_text{font-size:15px;}

    .boxtab_list_wrap{
        &.type2{
            .boxtab_text{top:0}
            .boxtab_item{
                &:after{
                    top:calc(100% - 2px);
                }
            }
        }
    }

    .tab_contents_depth_wrap{
        > .column_obj_item_wrap{margin-top:30px;}
    }   
}
@media (max-width:$mobile){
    .tab_menu_list_wrap{margin:0 -20px;padding:0 20px 0 0;
        &:before{display:none;}
    }
    .tab_menu_list{justify-content: flex-start;
        > li{border-bottom:1px solid #ddd;}
    }

    .boxtab_item{
       min-height:45px;

        &.active{
            .boxtab_text{font-size:14px;}
        }
    }
    .boxtab_text{font-size:13px;}
}



/* step */
.step_item_list_wrap{max-width:936px;margin:0 auto 64px;}
.step_item_list{
    display:flex; justify-content:center; position:relative;
    
    > li{
        &:before,
        &:after{display:block;content:'';width:50%;position:absolute;top:32px;background:#ddd;height:2px;}
        &:before{left:0;}
        &:after{left:50%;}
        flex:1;text-align:center; position:relative;
        &.end{
            .step_item{}
            .step_index_row{}
            .step_index_box{border-color:$primary;background:$primary url("../images/ico_end_check.png") no-repeat 50% 50%/20px auto;}
            .step_index_text{color:transparent;}
            .step_spec_row{}
            .step_spec_para{font-size:24px;color:$primary;}
            
            &:after{background:$primary}
            & + .active,& + .end{
                &:before{background:$primary}
            }
        }
        &.active{
            &:before{}
            .step_item{}
            .step_index_row{}
            .step_index_box{border:6px solid $primary;}
            .step_index_text{font-size:30px;color:$primary;font-weight:700;line-height:1;}
            .step_spec_row{}
            .step_spec_para{font-size:24px;color:$primary;font-weight:700;}
        }

        &:first-of-type{
            &:before{display:none;}
        }

        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.step_item{display:block;position:relative; z-index:2;}
.step_index_row{height:64px;display:flex;align-items: center;}
.step_index_box{width:46px;height:46px;background:#fff;border:1px solid #ddd; border-radius:100%;text-align:center;margin:0 auto; display:flex;justify-content: center; align-items: center;}
.step_index_text{color:transparent;letter-spacing: -0.05em;line-height:1;}
.step_spec_row{margin-top:14px;}
.step_spec_para{font-size:24px;color:#999999;font-weight:500;letter-spacing: -0.05em;word-break: keep-all;}


@media (max-width:$mobile_large){
    .step_item_list_wrap{margin-bottom:32px;}
    .step_item_list{
        margin:0 -12.5%;
        > li{
            &:before,
            &:after{top:20px;}
            &.end{
                .step_index_box{background-size:12px auto;}
                .step_spec_para{font-size:14px;}
            }
            &.active{
                .step_index_box{border-width:2px;}
                .step_index_text{font-size:18px;position:relative;top:1px;left:-0.5px;}
                .step_spec_para{font-size:14px;}
            }
        }
    }
    .step_index_row{height:40px;}
    .step_index_box{width:38px;height:38px;}
    .step_spec_row{margin-top:10px;}
    .step_spec_para{font-size:14px;}
    .step_item_list{
        margin:0 -7.5%;
    }
}




/* progress */
.process_bar_wrap{}
.process_bar_list{
    display:flex;gap:12px;
    > li{
        position:relative; flex:1;
        &.active{
            .process_bar{
                border-color:$primary; background:$primary; justify-content: space-between;padding:0 16px;gap:5px;
                &:after{flex:0 0 15px;display:block;content:'';width:15px;height:12px;background:url("../images/ico_tab_active.png") no-repeat 0 0/100% auto;}
            }
            .process_bar_text{color:#fff;font-weight:700;}
            & + li.active{
                &:before{background:$primary;}
            }
        }
        &:before{display:block;content:'';width:12px;height:2px;background:#DDDDDD;position:absolute;top:50%;left:0;transform: translate(-100%,-1px);}
        &:first-of-type{
            &:before{display:none;}
        }
    }
}
.process_bar{width:100%;height:100%;display:flex;align-items: center; text-align:center; background:#fff; box-sizing: border-box; border:2px solid #ddd; border-radius:8px;min-height:48px; justify-content: center; align-items:center}
.process_bar_text{display:inline-block;font-size:18px;color:#999;line-height:1; font-weight:500;word-break: keep-all;}

.process_dia_wrap{}
.process_dia_list{
    display:flex; min-height:64px; gap:70px; text-align: center;
    >li{
        flex:1; position:relative;
        &:after{display:block;content:'';position:absolute;top:0;left:calc(100% + 30px);width:10px;height:64px;background:url("../images/ico_step_allow.png") no-repeat 50% 50%/100% auto;}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.process_dia_item{
    &:before{display:block;content:'';width:64px;height:64px; background:url("../images/ico_auth_step01.png") no-repeat 0 0/100% auto; margin:0 auto;}
    &.ico_02{
        &:before{background-image:url("../images/ico_auth_step02.png");}
    }
    &.ico_03{
        &:before{background-image:url("../images/ico_auth_step03.png");}
    }
    &.ico_04{
        &:before{background-image:url("../images/ico_auth_step04.png");}
    }
    &.ico_05{
        &:before{background-image:url("../images/ico_auth_step05.png");}
    }

    &.active{
        &:before{background-position:0 100%;}
        .process_dia_spec{color:$primary;}
    }
}
.process_dia_spec{font-size:20px;color:#999999;font-weight:700;letter-spacing: -0.05em;margin-top:10px;word-break: keep-all;}


@media (max-width:$mobile_large){
    .process_bar{min-height:45px;
        &:after{}
    }
    .process_bar_list{
        gap:5px;
        > li{
            &.active{
                .process_bar{
                    padding:0 5px;
                    &:after{
                        width:10px;height:8px;flex-basis: 10px; 
                    }
                }
            }
            &:before{width:5px;}
        }
    }
    .process_bar_text{font-size:13px}


    .process_dia_list{
        min-height:32px; gap:0;
        >li{
            &:after{left:calc(100% - 2.5px);height:32px;width:5px;}
        }
    }
    .process_dia_item{
        &:before{width:32px;height:32px; }
    }
    .process_dia_spec{font-size:14px;}
}
@media (max-width:$mobile){
}

@media (max-width:$mobile_small){
    .process_bar_list{flex-direction: column; gap:10px;
        > li{
            &.active{
                .process_bar{
                    padding:0 10px;
                }
            }
            &:before{width:2px; height:10px;position:absolute;top:100%;left:50%;transform: translateX(-50%);}
        }
    }
}
/* // progress */




/* popup */
.btn_guide_box{}
/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap;
    &.active{display:flex;
        &.motion_end{
            .popup_item{opacity:1;transform: translateY(0);}
            .bg_dim{opacity:.6;}
        }
    }
}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:908px;margin:30px auto; max-height:calc(100% - 60px); background:#fff; border-radius:16px; border:1px solid #BBBBBB; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
    &.no_transition{transition:0s;opacity:1;transform:none;}
}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#000;opacity:0;transition:.5s;
    &.no_transition{transition:0s;opacity:.6;transform:none;}
}
.popup_title_row{flex:0;padding:21px 26px;
    & + .popup_contents_row{padding-top:0;}
}
.popup_title{font-size:28px;color:$primary;font-weight:700;letter-spacing: -0.05em;line-height:1.3;}
.popup_contents_row{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:16px;color:#333333;padding:26px;
    & + .popup_btn_row{padding-top:0;}
}
.popup_btn_row{flex:0;padding:26px;display:flex;justify-content: center; position:relative; box-sizing: border-box;
    &:after{display:block;content:'';width:calc(100% - 10px);height:26px; position:absolute;top:-26px;left:0;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,0) 100%);
    }
}
.touchmode{
    .popup_btn_row{
        &:after{
            width:calc(100%);
        }
    }
}

.btn_submitbox_w{display:flex;margin:0;padding:25px; justify-content: center;
    .btn_submitbox{margin:0 2.5px;
    
    }
}

.btn_submitbox{display:inline-block;word-break:keep-all;vertical-align:middle;box-sizing:border-box;border:0;font-size:17px; font-weight:500;text-align:center;min-width:400px; color:#fff;background:#3f4858;border-radius:100px;padding:15px 20px;

    &.inline_type{flex:0;min-width:inherit;white-space: nowrap;border-radius:4px;}
    &.small{font-size:14px;line-height:1;padding:12px}
}

input.btn_submitbox{}

.btn_popup_close{display:inline-block;width:78px;height:78px;position:absolute;top:0;right:0;font-size:0;line-height:0;
    &:before,
    &:after{width:24px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#000; margin:-1px 0 0 -12px;
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
    }
    &:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
}

.popup_confirm_copy_wrap{
    text-align: center; padding:50px 30px;
}
.popup_confirm_copy{font-size:17px;color:#333333; word-break: keep-all;}


@media (max-width:1023px){
    /* .popup_item{margin:0 20px}

    .popup_titlelow{padding:0 50px;}
    .popup_title{font-size:16px;padding:13px;}
    .btn_submitbox{display:block; text-align:center; font-size:14px;width:100%;min-width:0;}

    input.btn_submitbox{}

    .btn_popup_close{display:inline-block;width:50px;height:50px;
    }

    .popup_confirm_copy_wrap{
       padding:40px 20px;
    }

    .popup_confirm_copy{font-size:14px;}
    .btn_submitbox_w{padding:20px;}
    .btn_submitbox{}

    .notice_popup_wrap{padding:15px 0;width:100%;
        &.only_one{
            padding:15px;
            .notice_popup_cols{width:100%;min-width:100%;}
        }
        &.active{display:block;}
    }
    .notice_popup_cols{padding:10px 20px 0;flex:0;box-sizing:border-box; min-width:0;
        .popup_item.notice_type{}
    } */

    .popup_item{margin:0 20px;}
    .popup_title_row{padding:20px 70px 20px 20px;}
    .popup_title{font-size:18px;}
    .btn_popup_close{width:64px;height:64px;}
    .popup_contents_row{font-size:14px;padding:20px;}
    .popup_btn_row{padding:20px;}
    /* .popup_contents_row{padding:0 20px;}
    .popup_btn_row{padding:20px;} */
}
/* // 공통 popup */


/* pagination */
.pagination {text-align: center;line-height:0;font-size:0; padding:0 0 0;margin:40px 0 30px;clear:both;}
.paginate_button{display:inline-block;
     > a{display: inline-block;margin:0 5px; font-weight:500; position:relative; width: 38px;height: 38px;border:1px solid #dadada;border-radius:100%;background: #fff;line-height: 36px;font-size:16px;white-space:nowrap;vertical-align: top;text-align: center;color:#6d6c6c;}
     > a:hover,
     &.active > a{border-color: #122232;color:#fff;background-color:#122232;}
     &.previous a:after, 
     &.next a:after{display: inline-block;content: '';margin:15px 0 0 0;width: 6px;height: 6px;border-bottom: 1px solid #000;border-left: 1px solid #000;}
     &.previous a:after {transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
     &.next a:after{transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
     &.previous a,
     &.next a{overflow: hidden;border:1px solid #d9d9d9;font-size: 0;color:#fff;line-height: 0;}
     &.previous a:hover,
     &.next a:hover{border-color: #122232;}
     &.previous a:hover:after,
     &.next a:hover:after{border-color: #fff;}
     &.next a:after{position:relative;left:-2px;}
     &.previous{margin-right: 10px;}
     &.next{margin-left: 10px;}
     &.previous a:after{margin-left: 3px}
     &.next a:after{margin-right: 0}
}

@media (max-width: 767px) {
	.pagination{margin:30px 0 10px;padding:0}
    .paginate_button{
        a {width: 26px;height: 26px;font-size:13px;line-height: 26px;margin:0 1px;}
        &.previous a:after, 
        &.next a:after{margin-top: 9px;}
        &.previous{margin: 0 3px 0 0;}
        &.next{margin:0 1px 0 3px;}
        &.next a:after{left:-3px;}
        &.previous a:after{margin-left:3px;}
    }
    .subcontent_box .pagination{margin-left:-15px;margin-right:-15px;}
    .ico_copy_obj::before{width:60px;height:60px;margin-bottom:10px}
}
@media (max-width: 359px) {
    .paginate_button{
         a {width: 22px;height: 22px;font-size:12px;line-height: 22px;margin:0 1px;}
        &.previous a:after, 
        &.next a:after{margin-top:7px;}
        &.previous{margin: 0 1px 0 1px;}
        &.next{margin:0 1px 0 1px;}
    }
}
@media (max-width: 319px) {
    .subcontent_box .pagination{margin-left:-20px;margin-right:-20px;}
}



/* folder tree */
.folder_tree_wrap{border-radius:16px;border:1px solid #bbb;background:#f9f9f9;padding:24px;}
.folder_tree_list{
    position:relative;
    &:before{
        display:block;content:'';width:1px; height:100%;position:absolute;top:0;left:7px; background:#ebebeb;
    }
    > li{
        padding-bottom:12px; position:relative;
        &:last-of-type{
            padding-bottom:0;
            &:before{
                display:block;content:'';width:16px;height:100%;background:#f9f9f9; position:absolute;top:0;left:0;
            }
        }
        &.folding{
            .folder_tree_item{
                .ft_bar{
                    .ico_folder{background-position:0 100%;}
                }
    
                > .folder_tree_list,> .ft_depth_wrap{display:none;}
            }
        }
    }
    .folder_tree_list{
        margin:12px 0 0 18px; display:inline-block;
    }
}
.ft_bar{
    display:flex; gap:2px;
}
.ft_bar_text{display:inline-block;font-weight:500;color:#999999;font-size:16px;line-height:1;background:#f9f9f9;z-index:2;}
.ft_depth_wrap{padding:12px 0 0 36px;position:relative;
    &:before{
        display:block;content:'';width:1px; height:100%;position:absolute;top:0;left:20px; background:#ebebeb;
    }
}
.ft_depth_list{
    >li{
        margin-bottom:12px; position:relative;  gap:4px;
        &:after{
            display:block;content:'';width:50%;height:1px;position:absolute;top:8px;left:-16px; background:#ebebeb;
        }
        &:last-of-type{margin-bottom:0;
            &:before{
                display:block;content:'';width:10px;height:50%;background:#f9f9f9; position:absolute;bottom:0;left:-18px;
            }
        }
    }
}
.ft_depth_bar{
    display:inline;font-weight:500;color:#999999;font-size:16px;line-height:1; position:relative; z-index:2; background:#f9f9f9; vertical-align: middle;
    &.active{color:$primary;font-weight:600;}
    & + .ico_selected{margin-left:4px;}
}
.ico_folder{display:block;width:16px;height:16px;background:#f9f9f9 url("../images/ico_folder.png") no-repeat 0 0/100% auto; flex:0 0 16px;position:relative;z-index:2;}
.ico_selected{display:inline-block;width:16px;height:16px;background:url("../images/ico_check_circle.png") no-repeat 0 0/100% auto;vertical-align: middle;}
/* 
.folding{display:none !important;} */

@media (max-width:$mobile_large){
    .folder_tree_wrap{border-radius:10px;padding:15px;}

    .ft_bar_text{font-size:14px;}
    
    .ft_depth_bar{
        font-size:14px;
    }

    .ico_folder{position:relative;top:-1px;}
    .ft_depth_wrap{padding-top:6px;}
    .ft_depth_list{
        > li{margin-bottom:6px;}
    }
    .folder_tree_list{
        .folder_tree_list{margin-top:6px;}
    }
}


/* inform_box */
.inform_board_box{
    background:#E6F2F9; border-radius: 16px; padding:48px; text-align: center;
    .btn_box_group{}
    & + .tab_menu_list_wrap{}
}
.inform_main_copy_row{}
.inform_main_copy{
    font-size:24px; letter-spacing: -0.05em; font-weight:500; line-height:1.3; word-break: keep-all;
    strong{color:$primary;font-weight:700;word-break: keep-all;}
}
.inform_summary_data_table{display:table;margin:32px auto 0;text-align: left;}
.inform_summary_data_tr{
    display:table-row;
    &:last-of-type{
        .inform_summary_data_cell{padding-bottom:0;}
    }
}
.inform_summary_data_cell{
    display:table-cell;vertical-align: middle; padding-bottom:16px;
    &.define_th{text-align: center;}
    &.define_td{padding-left:8px;}
}
.inform_summary_data_key{display:block;padding:6.5px 12px 6.5px;border-radius:8px;background:$sub_color;color:#fff;font-size:16px;font-weight:700;word-break: keep-all}
.inform_summary_data_value{@include rubik_medium; line-height:1; position:relative;top:-1px; font-size:20px; font-weight:500; color:#333;}

.inform_summary_message{font-size:20px; font-weight:700; color:$sub_color; letter-spacing: -0.05em;margin-top:32px;line-height:1.3;word-break: keep-all;}

@media (max-width:$mobile_large){
    
    /* inform_box */
    .inform_board_box{
        border-radius: 10px; padding:24px 20px;
    }
    .inform_main_copy_row{}
    .inform_main_copy{
        font-size:17px;
    }
    .inform_summary_data_table{margin:20px auto 0;}
    .inform_summary_data_cell{
        padding-bottom:10px;
        &.define_td{padding-left:5px;}
    }
    .inform_summary_data_key{border-radius:4px;font-size:14px;}
    .inform_summary_data_value{top:0; font-size:16px;}

    .inform_summary_message{margin-top:20px;font-size:17px;}
}

@media (max-width:$mobile_size2){
    .inform_summary_data_table,
    .inform_summary_data_tr,
    .inform_summary_data_cell{display:block;}
    .inform_summary_data_cell{
        padding-bottom:10px !important;
        &.define_th,
        &.define_td{text-align: center;}
    }
    .inform_summary_data_tr{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
    .inform_summary_data_key{display:inline-block}

}



/* tooltip */
.tooltip_wrap{
    display:none;
    border-radius: 16px;

    box-sizing: border-box;
    margin-right:30px;
    position:absolute;
    // opacity:0;
    // transition:.4s opacity;
    z-index:50;

    padding: 24px;
    background-color: #E6F2F9;

    &.active{display:block;}
}

@media (max-width:$mobile){
    .tooltip_wrap{left: 20px !important; width:calc(100% - 40px) !important;padding:20px; border-radius:10px;margin-right:20px;}
}