/* select */
select.form_select{color:#333;cursor:pointer;font-size:18px; font-weight:500; border:1px solid #bbb;height: 48px;padding: 0 40px 0 16px;border-radius:8px;box-sizing:border-box;
    background: #fff url("../images/ico_select_allow.png") no-repeat calc(100% - 16px) 50%/7px 4px;line-height:48px;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#333;}
    &::-ms-expand {display: none;}
    &.current_placeholder{color:#bbb;
        &:hover{color:#333;}
    }
    &.size2{height:48px;border-radius:8px;font-size:16px;}
    &.full{width:100%;}
}
@media (max-width:$mobile){
    select.form_select{
        font-size:14px !important; height: 40px; line-height:40px;padding:0 25px 0 10px; background-position:calc(100% - 10px);
    }
}

/* input */
input.form_input{
    border:1px solid #ddd; appearance: none; border-radius:12px;width:100%;height:60px; box-sizing: border-box; padding:0 16px;font-size:18px; font-weight:500; color:#000;
    &.search_input{border:0;height:46px;border-radius:8px;width:100%; padding-right:0;
        &::-webkit-input-placeholder{color:#bbb;}
        &::-moz-input-placeholder{color:#bbb;}
        &:-ms-input-placeholder{color:#bbb;}
        &::-ms-input-placeholder{color:#bbb;}
        &::input-placeholder{color:#bbb;}
    }
    &.size2{height:48px;border-radius:8px;font-size:16px;}
    &.calendar_type{background:#fff url("../images/ico_calendar_input.png") no-repeat calc(100% - 8px) 50%/32px auto;padding-right:50px;}
}
@media (max-width:$mobile){
    input.form_input{font-size:14px !important;
        &.search_input{height:38px;
        }
    }
}

/* textarea */
textarea.form_textarea{border:1px solid #ddd; font-size:18px; font-weight:500; color:#000; appearance: none; border-radius:8px;width:100%;height:348px; padding:16px 16px; color:#000; box-sizing: border-box; resize: none;}
@media (max-width:$mobile){
    textarea.form_textarea{font-size:14px; border-radius:8px;}
}

/* props */
.props_item{display:flex;gap:8px;}
input.props_form{width:20px;height:20px;appearance: none;border-radius:4px;background:#fff url("../images/ico_checkbox.png") no-repeat 0 0/100% auto;border:1px solid #ddd;
    &:checked{
        background-color:$primary; border-color:$primary;background-position:0 100%;
        & + .props_label{}
    }
}
.props_label{font-size:14px;color:#999999;font-weight:500;display:inline-block;padding:1px 0 0 0;cursor: pointer;}
.props_form{
}
.box_radio_item_group{display:flex;gap:12px;flex-wrap:wrap;
    &.type2{
        .box_radio_label{min-height:40px;min-width:80px;}
    }
}
.box_radio_item{position:relative;display:flex;
    
}
.box_radio_label{display:flex; width:100%; padding:10px 16px; font-weight:500; min-height:48px; min-width:120px;text-align:center; box-sizing: border-box; justify-content: center; align-items: center;  background:#fff; border:1px solid #bbb; border-radius:8px; font-size:18px;color:#999999; cursor: pointer;
    &.type2{min-width:inherit;}
}
.box_radio_form{
    width:0;height:0; appearance: none; box-sizing: border-box; overflow:hidden;flex:0; 
    &:checked{
        & + .box_radio_label{background-color:$sub_color; color:#fff;border-color:$sub_color; font-weight:700;}
    }
}
@media (max-width:$tablet){
    .box_radio_label{min-width:80px;padding:10px;}
}
@media (max-width:$mobile){
    .box_radio_label{font-size:14px;/* min-height:30px; */}
    .box_radio_item_group{display:flex;gap:12px;
        &.type2{
            .box_radio_label{min-height:30px;min-width:60px;font-size:14px;}
        }
    }
}

/* grid */
.grid_container{
    display:flex;gap:16px;
    > .grid_cols{flex:1;}
}


/* button */
.btn_box{min-width:180px;min-height:60px;padding:0 32px;box-sizing: border-box;display:inline-flex; align-items: center; justify-content: center; background:$primary; border:1px solid $primary; border-radius: 12px;
    &.type2{
        background:#fff;
        .btn_box_text{color:$primary;}
    }
}
.btn_box_text{display:inline-block;font-weight:700;color:#fff;line-height:1;font-size:20px;letter-spacing: -0.05em;}
.btn_bottom_wrap{margin-top:64px;text-align: center;display:flex;justify-content: center;gap:20px;flex-wrap:wrap;}
.btn_box_group{margin-top:32px;text-align: center;display:flex;justify-content: center;gap:20px;flex-wrap:wrap;}
.btn_control{
    display:inline-block;width:48px;height:48px;border-radius:8px; flex:0 0 48px;  border:1px solid #999; background-repeat:no-repeat; background-position: 50% 50%; background-color:#fff;
    &.ico_reload{background-image:url("../images/ico_replay.png");background-size:24px auto;}
}

@media (max-width:$tablet){
    .btn_box{min-width:140px;min-height:50px;}
    .btn_box_group,
    .btn_bottom_wrap{gap:15px;}
}
@media (max-width:$mobile){
    .btn_bottom_wrap{gap:10px;margin-top:30px;}
    .btn_box_group{gap:10px;margin-top:20px;}
    .btn_box{min-width:100px;min-height:45px;border-radius:8px;padding:0 20px;}
    .btn_box_text{font-size:16px;}

    .btn_control{
        border-radius:8px;
    }
}



/* pagination */
.paging_wrap {margin-top:64px; display:flex;justify-content: center; align-items: center;gap:8px;}
.paging_control,
.paging_number{display: inline-flex;  align-items:center; justify-content:center; width: 40px;height: 40px;border:1px solid #ddd;border-radius:8px;background: #fff;font-size:12px;}
.paging_number_group{display:flex;align-items: center;gap:8px;justify-content: center}

.paging_number{@include rubik; color:#999; font-size:16px;
    &.active,
    &:focus,&:hover{background:$primary; color:#fff;font-family: 'Rubik Bold';border-color:$primary}
    &.active{cursor: default;}
}

.paging_control{
    flex:0 0 40px;
    &:before{display:block;content:'';width:15px;height:15px; background-repeat:no-repeat; background-size:100% auto; background-position:0 -15px;}
    &.first:before{background-image:url("../images/ico_paging_first.png");}
    &.prev:before{background-image:url("../images/ico_paging_prev.png");}
    &.next:before{background-image:url("../images/ico_paging_next.png");}
    &.last:before{background-image:url("../images/ico_paging_end.png");}

    &.disabled{
        cursor: default;
        &:before{background-position:0 0 !important;}
    }
    &:focus,
    &:hover{
        &:before{
            background-position:0 100%
        }
    }
}

@media (max-width:$mobile){
    .paging_wrap {margin-top:30px; gap:5px;}
    .paging_control,
    .paging_number{width: 30px;height: 30px;}
    .paging_number_group{gap:5px;}

    .paging_number{font-size:13px;}

    .paging_control{
        flex-basis: 30px;
    }
}

@media (max-width:$mobile_small){
    .paging_wrap {gap:3px;}
    .paging_control,
    .paging_number{width: 22px;height: 22px;}
    .paging_number_group{gap:3px;}

    .paging_number{font-size:12px;}

    .paging_control{
        flex-basis: 22px;
    }
}



/* tab */
.tab_menu_list_wrap{margin-top:32px;position:relative;
    &:before{display:block;content:'';width:100vw;height:1px;background:#ddd;position:absolute;bottom:0;left:50%;transform:translate(-50% ,0)}
    &::-webkit-scrollbar{width:0;height:0;}

    &.type2{
        .tab_menu{min-height:50px;}
    }
}
.tab_menu_list{
    display:flex;gap:46px;justify-content:center;/*  flex-wrap:wrap; */
     > li{}
}
.tab_menu{
    display:flex;align-items:center;min-height:60px; justify-content: center; position:relative;padding:10px 24px; box-sizing: border-box; white-space: nowrap;
    &:after{display:block;content:'';height:5px;background:#333;position:absolute;bottom:0;left:0;width:100%;opacity:0;}
    &.active{
        .tab_menu_text{color:#333333; font-weight:700;}
        &:after{opacity:1;}
    }
    .current_menu_text{}
}
.tab_menu_text{display:inline-block;color:#999999;font-size:20px;line-height:1;font-weight:500;}
.current_menu_text{display:inline-block;opacity:0;position:absolute;color:transparent;top:50%;left:50%;transform: translate(-50%,-50%);}
.tab_cont_wrap{margin-top:32px;}
.tab_cont{}



.boxtab_list_wrap{}
.boxtab_list{
    display:flex; justify-content: center; align-items: center; gap:16px;
    > li {
        &.active{
            
        }
        &:last-of-type{
            .boxtab_item{&:after{display:none}}
        }
    }
}
.boxtab_item{
    display:flex;text-align:center;width:100%;height:100%;box-sizing:border-box;position:relative;padding:10px;border-radius:12px;align-items:center;justify-content:center;min-width:200px;min-height:60px; background:#E9E9E9;
    &:after{display:block;content:'';width:8px;height:15px;background:url("../images/tab_right_pointer.png") no-repeat 0 0/100% auto;position:absolute;top:50%;right:1px;transform: translate(100%,-50%);}

    &.active{
        background:#333333;
        &:after{background-image:url("../images/tab_right_pointer_active.png")}
        .boxtab_text{font-size:20px;color:#fff;line-height:1;font-weight:700;}
    }
}
.boxtab_text{display:inline-block;font-size:20px;color:#999999;line-height:1;}

@media (max-width:$tablet){
    .tab_menu_list_wrap{margin-top:0; overflow: hidden; overflow-x:auto;
        /* &:before{display:none;} */
        &.type2{
            .tab_menu{min-height:45px;}
        }
    }
    .tab_menu_list{
        gap:0;
        > li{flex:1; box-sizing: border-box;background:#fff;}
    }
    .tab_menu{
        min-height:45px;padding:10px 14px; position:relative;
        &:after{height:3px;}
    }
    .tab_menu_text{font-size:15px;}
}

@media (max-width:$mobile_large){
    
    .boxtab_list{
        gap:10px;
        > li {flex:1;}
    }
    .boxtab_item{
        border-radius:8px;min-width:0;min-height:50px;

        &.active{
            .boxtab_text{font-size:16px;}
        }
    }
    .boxtab_text{font-size:15px;}

}
@media (max-width:$mobile){
    .tab_menu_list_wrap{margin-right:-20px;padding-right:20px;
        &:before{display:none;}
    }
    .tab_menu_list{justify-content: flex-start;
        > li{border-bottom:1px solid #ddd;}
    }

    .boxtab_item{
       min-height:45px;

        &.active{
            .boxtab_text{font-size:14px;}
        }
    }
    .boxtab_text{font-size:13px;}
}



/* step */
.step_item_list_wrap{max-width:936px;margin:0 auto 64px;}
.step_item_list{
    display:flex; justify-content:center; position:relative;
    
    > li{
        &:before,
        &:after{display:block;content:'';width:50%;position:absolute;top:32px;background:#ddd;height:2px;}
        &:before{left:0;}
        &:after{left:50%;}
        flex:1;text-align:center; position:relative;
        &.end{
            .step_item{}
            .step_index_row{}
            .step_index_box{border-color:$primary;background:$primary url("../images/ico_end_check.png") no-repeat 50% 50%/20px auto;}
            .step_index_text{color:transparent;}
            .step_spec_row{}
            .step_spec_para{font-size:24px;color:$primary;}
            
            &:after{background:$primary}
            & + .active,& + .end{
                &:before{background:$primary}
            }
        }
        &.active{
            &:before{}
            .step_item{}
            .step_index_row{}
            .step_index_box{border:6px solid $primary;}
            .step_index_text{font-size:30px;color:$primary;font-weight:700;line-height:1;}
            .step_spec_row{}
            .step_spec_para{font-size:24px;color:$primary;font-weight:700;}
        }

        &:first-of-type{
            &:before{display:none;}
        }

        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.step_item{display:block;position:relative; z-index:2;}
.step_index_row{height:64px;display:flex;align-items: center;}
.step_index_box{width:46px;height:46px;background:#fff;border:1px solid #ddd; border-radius:100%;text-align:center;margin:0 auto; display:flex;justify-content: center; align-items: center;}
.step_index_text{color:transparent;letter-spacing: -0.05em;line-height:1;}
.step_spec_row{margin-top:14px;}
.step_spec_para{font-size:24px;color:#999999;font-weight:500;letter-spacing: -0.05em;word-break: keep-all;}


@media (max-width:$mobile_large){
    .step_item_list_wrap{margin-bottom:32px;}
    .step_item_list{
        margin:0 -12.5%;
        > li{
            &:before,
            &:after{top:15px;}
            &.end{
                .step_index_box{background-size:12px auto;}
                .step_spec_para{font-size:14px;}
            }
            &.active{
                .step_index_box{border-width:2px;}
                .step_index_text{font-size:15px;position:relative;top:1px;left:-0.5px;}
                .step_spec_para{font-size:14px;}
            }
        }
    }
    .step_index_row{height:30px;}
    .step_index_box{width:20px;height:20px;}
    .step_spec_row{margin-top:10px;}
    .step_spec_para{font-size:12px;}
}

@media (max-width:$mobile_large){
    .step_item_list{
        margin:0 -7.5%;
    }
}