/* contents */
.pcbr{display:block !important;}
.mbr{display:none !important;}
.pc_img{display:inline-block !important;}
.mb_img{display:none !important;}
.mb_item{display:none !important;}
.pc_item{display:block !important;}
.column_obj_item{
    &:last-of-type{}
}
.column_key{}
.column_obj_title{}
.column_value{}

.import_box_container{}
.import_box_para_wrap{
    &:before{}
}
.import_box_para{}
.import_else_group{
    .indent_text_list{}
    .bullet_text_list{}
}
.indent_text_list_wrap{
    &.number_type{
        .indent_text_list{
            > li{
                &:last-of-type{}
            }
        }
        .indent_bullet{}
        .indent_text_group{}
    }
}
.indent_text_list{
    > li{
        &:last-of-type{}
    }
}
.indent_bullet{}
.indent_text_group{}

.bullet_list{
    > li{
        &.emp{}
        &:before{}
        &:last-of-type{}
        .else_size{}
    }
}

.note_guide_para{
    &.emp{}
}

.bullet_text_list{
    color:$sub_color; line-height:1.3; font-size:14px; letter-spacing: -0.05em; font-weight:600;
    > li {
        padding-left:10px;position:relative; word-break: keep-all; margin-bottom:3px;
        &::before{display:block;content:'';width:3px;height:3px;background:$sub_color; position:absolute;top:7px;left:0;}
        &:last-of-type{margin-bottom:0}
    }
    &.emp{}
}

.check_sign_item{
    &:before{}
}

.td_para{
    &.size_small{}
}

.indent_bullet_list{
    > li{
        &:last-of-type{}
    }
}
.indent_bullet{}
.indent_text_group{}
.indent_text{}

@media (max-width:$mobile_large){
    .pc_item{display:none !important;}
    .mb_item{display:block !important;}
    .pc_img{display:none !important;}
    .mb_img{display:inline-block !important;}
    .mb_hide{display:none !important;}
    .mb_hidden{display:inline-block;margin:0 !important;padding:0 !important;width:0 !important;height:0 !important;overflow:hidden;line-height:0;color:transparent;position:absolute;top:0;left:-99999px;}
    
    .mb_nobreak{white-space: nowrap}
}

/* main */
.middle_wrap.main_contents{}
.mv_zone{max-width:1280px;margin:0 auto;}
.swiper-container{
    &.mv_container{
        .swiper-wrapper{}
        .swiper-slide{}

        .swiper-pagination{
            text-align: left; bottom:60px; z-index:5;
            .swiper-pagination-bullet{opacity:.2;width:12px;height:12px;margin:0 4px;border-radius:100%;background:#000;}
            .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#1454FF;width:60px;border-radius:100px;}
        }
    }
}
.main_contents{}
.mv_item{
    img{vertical-align: top;}
}
img.pc_mv{display:block;}
img.mb_mv{display:none;}

.global_search_field_zone{
    position:relative; overflow:hidden; padding:80px 0;
    &:before{display:block;content:'';width:100vw;position:absolute;top:0;left:50%;transform: translateX(-50%);height:100%;background-color:#F7F7F7;}
}
.global_search_field_wrap{position:relative;z-index:1;max-width:840px;padding:0 30px;margin:0 auto;}
.global_search_field{border:1px solid #1454FF; border-radius:100px;background:#fff;display:flex;align-items: center;position:relative; overflow:hidden; padding-right:12px;}
.global_search_input{flex:1;min-width:0;}
input.input_global_search{font-size:18px;padding:0 24px; appearance: none; line-height:1; box-sizing: border-box; width:100%;height:70px; color:#333; border:0; border-radius:100px;
    &::-webkit-input-placeholder{color:rgba(0,0,0,.2);font-family: 'Pretendard';font-weight:600;}
    &::-moz-input-placeholder{color:rgba(0,0,0,.2);font-family: 'Pretendard';font-weight:600;}
    &:-ms-input-placeholder{color:rgba(0,0,0,.2) !important;font-family: 'Pretendard';font-weight:600;}
    &::-ms-input-placeholder{color:rgba(0,0,0,.2) !important;font-family: 'Pretendard';font-weight:600;}
    &::input-placeholder{color:rgba(0,0,0,.2);font-family: 'Pretendard';font-weight:600;}
}
.btn_global_search_submit{flex:0;display:inline-block;color:#fff; background:#1454FF; border-radius:100px; white-space: nowrap; font-weight:700; font-size:18px;padding:15px;}
.global_keyword_wrap{position:relative;z-index:1;max-width:840px;padding:0 30px;margin:40px auto 0;}
.global_keyword_list{
    display:flex; justify-content: space-between;
    > li{

    }
}
.global_keyword_item{display:flex;align-items: center;gap:16px;}
.ico_global_keyword{
    flex:0 0 42px; width:42px;height:42px; background:url("../images/main/ico_search_01.png") no-repeat 0 0/100% auto;
    &.ico_02{background-image:url("../images/main/ico_search_02.png");}
    &.ico_03{background-image:url("../images/main/ico_search_03.png");}
    &.ico_04{background-image:url("../images/main/ico_search_04.png");}
}
.global_keyword_text{font-size:20px; font-weight:500; color:#333333; line-height:1; display:inline-block; font-weight:500;}

.mc_grid_zone{
    max-width:1280px;margin:0 auto;padding:80px 30px 0 30px; position:relative;
    &.type2{
        &:before{display:block;content:'';width:100vw;height:100%;position:absolute;top:0;left:50%;background:#1454FF;opacity:.1; transform: translateX(-50%);}
        > *{position:relative;}
    }
}
.mc_grid_row{display:flex;gap:40px;border-bottom:1px solid #BBBBBB;margin-bottom:80px;padding-bottom:80px;
    &:last-of-type{
        border-bottom:0; /* padding-bottom:0;  */margin-bottom:0; 
    }
}
.mc_grid_cols{flex:1;min-width:0; display:flex; flex-direction: column;}
.mc_grid_title_row{
    margin-bottom:32px; display:flex;align-items:flex-end;justify-content:space-between;
    .mc_grid_title{margin-bottom:0;flex: auto;}
}
.mc_grid_title{
    flex:0;color:$primary; display:inline-block; font-size:36px; margin-bottom:32px; word-break: keep-all; font-weight:700; font-family: 'GmarketSans'; position:relative; top:7px;
    &.type2{font-family: 'GmarketSans';font-weight: 700;}
}
.mc_grid_title_else{font-size:24px; font-weight:500; color:#333333; font-weight:500; line-height:1;}
.mc_grid_content{flex:1;min-height:0;}
.mc_linkage_both{display:flex;gap:40px;align-items: center;}
.mc_linkage_menu_cols{flex:0 0 240px;display:flex;gap:32px;justify-content: space-between;align-items: center;}
.mc_linkage_menu_list{
    display:flex; flex-direction: column; gap:24px;
    > li{
        &:last-of-type{}
    }
}
.mc_linkage_menu{font-size:30px;line-height:1;font-weight:600;display:inline-block; color:#999;
    &.active{color:#333333; font-size:42px; font-weight:800;}
}
.mc_linkage_dot_list{
    display:flex; flex-direction: column; gap:8px;
    > li{
        &:last-of-type{}
    }
}
.mc_linkage_dot{
    display:block;width:12px;height:12px; border-radius:100%; background:rgba(0,0,0,.2);
    &.active{background:#1454FF;height:60px; border-radius:100px;}
}
.mc_linkage_contents_cols{flex:1; min-width:0;}
.mb_linkage_swiper{
    .swiper-wrapper{display:block;width:auto;}
    .swiper-slide{}
    .swiper-pagination{
        position:static; line-height:0; margin-top:20px; display:none;
        .swiper-pagination-bullet{opacity:.2;width:12px;height:12px;margin:0 4px;border-radius:100%;background:#000;vertical-align: top;}
        .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#1454FF;width:60px;border-radius:100px;}
    }
}
.mc_linkage_contents{
    position:relative;padding-right:64px; display:none;
    &.active{display:block;}
}
.linkage_data_list_wrap{}
.linkage_data_list{
    > li{
        margin-bottom:24px;
        &:last-of-type{margin-bottom:0;}
    }
}
.linkage_data{
    display:block; padding: 0 24px;

    &.emp{
        .linkage_keyword{color:#fff; border-color:#fff;}
        .linkage_title{color:#fff;}
        padding: 24px;
        background: $sub_color;
        border-radius: 16px;
    }
}
.linkage_priamry_row{display:flex;gap:12px;align-items: center;}
.linkage_keyword{font-size:16px; border: 1px solid #333333; display:inline-block; min-width:50px; text-align: center;
    border-radius: 10px; display:inline-block; box-sizing: border-box; line-height:30px; height:30px; white-space: nowrap; padding:0 12px;
    font-weight: 500;}
.linkage_title{font-size:24px;color:#333333; font-weight:500; @include clamp(1); line-height:1.4;}
.linkage_secondary_row{}
.linkage_subcopy{font-size:20px; font-weight: 500; opacity:.5; @include clamp(2); margin-top:12px; color:#fff;}
.btn_mc_more{display:inline-block;width:48px;height:48px;
    background: #333333 url("../images/main/ico_add.png") no-repeat 50% 50%/24px auto;
    border-radius: 12px;
    position:absolute;bottom:0;right:0;
}

.mc_card_swiper_zone{
    background: #16978F; border-radius: 32px; position:relative; overflow:hidden;
}
.swiper-container{
    &.swiper_banner_container{
        .swiper-pagination{
            text-align: center; bottom:20px; z-index:5; line-height:0;
            .swiper-pagination-bullet{opacity:.2;width:12px;height:12px;margin:0 4px;border-radius:100%;background:#000;}
            .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#fff;width:60px;border-radius:100px;}
        }
    }
    .swiper_banner{
        display:block; position:relative;/*  height:0; padding-bottom:58.06451612903226%; */
    }
}
.swiper_banner{
    /* img{vertical-align: top; @include dataImage2} */
}
.mc_quick_menu_list_wrap{height:100%;}
.mc_quick_menu_list{
    display:flex; flex-wrap:wrap; height:100%; gap:20px 0; margin:0 -10px;
    > li{
        flex: 0 0 50%; box-sizing: border-box; padding:0 10px;
        &:last-of-type{}
    }
}
.mc_quick_menu{display:flex;gap:30px; padding:48px; align-items: center; border:1px solid #DDDDDD; border-radius:16px; box-sizing: border-box; height:100%;}
.ico_mc_quick{display:block;width:72px;height:72px;flex:0 0 72px;background:url("../images/main/ico_directgo_01.png") no-repeat 0 0/100% auto;
    &.ico_02{background-image:url("../images/main/ico_directgo_02.png");}
    &.ico_03{background-image:url("../images/main/ico_directgo_03.png");}
    &.ico_04{background-image:url("../images/main/ico_directgo_04.png");}
}
.mc_quick_menu_text{flex:1;min-width:0;font-size:24px;font-weight:600;line-height:1.2;display:inline-block;color:#777;}


.mc_flexbox_list_wrap{}
.mc_flexbox_list{
    display:flex;gap:40px;
    > li{flex:1;}
}
.mc_flexbox{display:block;background:#fff;height:100%; border-radius:24px;text-align: center;padding:60px 0;box-sizing: border-box;}
.mc_flexbox_ico_row{}
.ico_mc_count{display:block;width:80px;height:80px;background:url("../images/main/ico_count_01.png") no-repeat 50% 50%/100% auto; margin:0 auto;
    &.ico_02{
        background-image:url("../images/main/ico_count_02.png");
    }
    &.ico_03{
        background-image:url("../images/main/ico_count_03.png");
    }
    &.ico_04{
        background-image:url("../images/main/ico_count_04.png");
    }
}
.ico_mc_count_caption{font-size:18px;color:#333333;font-weight:600;margin-top:20px;}
.mc_flexbox_value_row{margin-top:32px;}
.mc_count_item{display:flex;align-items: center;gap:6px; justify-content: center; text-align: center; flex-wrap:wrap;}
.mc_count_main{font-family: 'Rubik Bold'; font-size:40px; line-height:1; }
.mc_count_unit{font-size:18px;line-height:1;}


.bottom_guide_list_wrap{background:#F7F7F7;}
.bottom_guide_swiper_wrap{position:relative;padding:0 90px;}
.btn_flow_control{
    width:90px;height:60px; background:url("../images/ico_flow_prev.png") no-repeat 50% 50%/24px auto;
    display:block;position:absolute;top:50%; transform: translateY(-50%);
    &:after{}
    &.prev{
        left:0;
        &:after{}
    }
    &.next{
        right:0; background-image:url("../images/ico_flow_next.png");
        &:after{}
    }
}
.swiper-container{
    &.swiper-partner{
        .swiper-wrapper{}
        .swiper-slide{width:auto;}
    }
}
.swiper_partner_box{
    /* Frame 6 */margin:35px 16px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60px;

    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    position:relative; overflow:hidden;
    img{vertical-align: middle; @include dataImage;}
}

.mb_linkage_title{display:inline-block;width:0;height:0;overflow:hidden;line-height:0;color:transparent;position:absolute;top:0;left:-99999px;}

@media (max-width:$tablet){
    .mv_zone{padding:0 30px;}
    .mc_linkage_menu_cols{flex-basis: 200px;}
    .mc_grid_row{flex-direction: column;}
    .mc_flexbox_list{gap:20px;}
    .mc_count_main{font-size:30px;}
    
    .mc_quick_menu_list{gap:16px 0; margin:0 -8px;
        > li{padding:0 8px;}
    }
    .mc_quick_menu{padding:16px;border-radius:16px;gap:6px;}
    .swiper_banner{
        img{width:100%}
    }
    .mc_grid_zone{
        &.type2{padding:20px;
            .mc_grid_row{margin-bottom:0;padding-bottom:0;}
        }
    }
}
@media (max-width:$mobile){
    .mv_zone{padding:0;}
    img.pc_mv{display:none;}
    img.mb_mv{display:block;}

    .swiper-container{
        &.mv_container{
            .swiper-pagination{
                text-align: center; position:static; padding:30px 20px; box-sizing: border-box;
                .swiper-pagination-bullet{width:8px;height:8px;margin:0 2px;}
                .swiper-pagination-bullet.swiper-pagination-bullet-active{width:30px;}
            }
        }
    }

    
    .global_search_field_zone{
        padding:20px;
    }
    .global_search_field_wrap{padding:0;}
    input.input_global_search{height:48px;padding:0 14px;font-size:14px;
        &::-webkit-input-placeholder{letter-spacing: -0.05em;}
    }
    .btn_global_search_submit{font-size:14px;padding:10px 8px;}
    .global_search_field{padding-right:6px;}
    .global_keyword_wrap{padding:0;margin-top:24px;}
    .global_keyword_item{flex-direction: column;text-align: center;gap:8px;}
    .global_keyword_text{font-size:14px;}
    .ico_global_keyword{flex-basis: 24px; width:24px;height:24px;}
   /*  .global_search_field_wrap{padding:0 20px;}
    .global_search_field{padding-right:0;flex-direction: column; border-radius:20px;}
    .global_search_input{flex:1;min-width:0;width:100%;}
    input.input_global_search{font-size:16px;padding:0 15px; height:50px;
    }
    .btn_global_search_submit{ font-size:18px;padding:15px;display:block; text-align: center; width:100%;border-radius:0;}
    .global_keyword_wrap{padding:0 35px;margin:20px auto 0;}
    .global_keyword_list{
        display:flex; justify-content: flex-start; flex-wrap:wrap; gap:15px 0;
        > li{
            flex:0 0 50%;
        }
    }
    .global_keyword_item{display:flex;align-items: center;gap:16px;}
    .ico_global_keyword{
        flex:0 0 21px; width:21px;height:21px;
    }
    .global_keyword_text{font-size:16px;} */

    .mc_grid_zone{padding:0 20px 0}

    .mc_grid_title{font-size:24px;}

    .mc_linkage_both{display:block;}
    .mc_linkage_menu_cols{flex:1;width:100%;}

    .mc_linkage_menu_list{gap:16px;}
    .mc_linkage_menu{
        font-size:18px;
        &.active{font-size:20px;}
    }
    .mc_linkage_contents{padding-right:0;}
    .linkage_data_list_wrap{}
    .btn_mc_more{width:36px;height:36px; background-size:18px auto;}

    .mc_grid_row{padding-bottom:30px;border:0;margin:0;}

    .linkage_title{font-size:20px;}
    .linkage_subcopy{font-size:12px;line-height:1.4;}
    .linkage_data{padding:0 16px; 
        &.emp{padding:16px;border-radius:16px;margin-right:0;
        }
    }
    .linkage_title{font-size:14px;}
    .linkage_data_list {
        > li{
           margin-bottom:16px;
           &:last-of-type{margin-bottom:0} 
        }
    }
    .linkage_keyword{border-radius:10px;font-size:12px;}

    .mc_quick_menu{gap:15px;}
    .ico_mc_quick{width:48px;height:48px;flex-basis: 48px;}

    .mc_card_swiper_zone{border-radius:32px;}

    /* .mc_quick_menu_text{font-size:20px;} */

    
    
    .ico_mc_quick{width:30px;height:30px;flex:0 0 30px;}
    .mc_quick_menu_text{font-size:16px;text-align: center;}

    .mc_grid_title_else{font-size:12px;margin-top:10px;}
    .mc_flexbox_list{flex-wrap:wrap;gap:20px 0;margin:0 -10px;
        >li{width:50%;flex:0 0 50%; box-sizing: border-box;padding:0 10px;}
    }
    .mc_flexbox{border-radius:14px; padding:20px;}

    .mc_grid_title_row{
        margin-bottom:20px; display:block;
        .mc_grid_title{top:4px;}
    }
    .mc_flexbox_value_row{margin-top:8px;}
    .mc_grid_title{top:4px;margin-bottom:20px;}
    .ico_mc_count{width:60px;height:60px;}
    .ico_mc_count_caption{margin:8px 0 0 0; font-size:14px;}
    .mc_count_main{font-size:20px;}
    .mc_count_unit{font-size:12px;}
    .bottom_guide_swiper_wrap{padding:0 55px;}
    .btn_flow_control{width:55px;}

    .swiper_partner_box{margin:20px 10px}

    .mc_linkage_menu_cols{display:none;}
    .bottom_guide_list_wrap{display:none;}

    .mb_linkage_swiper{
        margin:0 -20px 0;
        .swiper-wrapper{display:flex;width:100%;}
        .swiper-slide{width:100%;}
        .swiper-pagination{display:block;}
    }
    .mc_linkage_contents{display:block !important; margin:0 20px;}

    .mb_linkage_title{display:block;width:auto;height:auto;overflow:visible;line-height:1;color:#000;position:relative;top:0;left:0;font-size:24px;font-weight:800;margin:30px 0 20px;}
    .btn_mc_more{border-radius:12px;background-size:20px auto;bottom:auto;top:-6px;}

    
}
@media (max-width:$mobile_small){
}



/* view */
.view_package{}
.view_title_row{border-bottom:1px solid #BBBBBB;padding-bottom:30px;}
.view_title{font-size:30px;color:#333333; font-weight:300; line-height:1.4}
.view_util_wrap{margin-top:10px;}
.view_util_list{
    display:flex;gap:16px;
    > li{
        
    }
}
.view_caption_obj{
    display:flex; font-size:16px; color:#999999; gap:6px;
    &.type2{
        color:#666;
        .view_caption_key{}
        .view_caption_value{}
    }
}
.view_caption_key{display:inline-block;}
.view_caption_value{display:inline-block;@include rubik; }
.view_contents{
    padding:32px; word-break: break-all;line-height:1.4;
    img{width:auto !important;height: auto !important;}
    *{word-break: break-all;}
}
.attach_file_wrap{
    background: rgba(0, 119, 192, 0.1); border-radius: 12px; padding:18px 30px;
}
.attach_file_list{
    > li{
        &:before{display:block;content:'';width:24px;height:24px;border-radius:100%;background:$sub_color url("../images/ico_down_cloud.png") no-repeat 50% 50%/12px auto;flex:0 0 24px;}
        display:flex;gap:10px; align-items: flex-start;
        margin-bottom:15px;
        &:last-of-type{margin-bottom:0;}
    }
}
.attach_file_item{display:inline; padding-top:1px;}
.attach_file{display:inline;}
.attach_file_text{font-size:18px;color:#19417F; font-weight:500; display:inline;}
.attach_file_sub{font-size:16px;color:#999999; @include rubik; line-height:1; display:inline-block;padding:5px 0 0 3px;}
.neighbor_data_wrap{margin-top:32px;border:1px solid #73B4DD; border-radius:16px;}
.neighbor_data_row{
    border-bottom:1px solid #73B4DD; display:flex; align-items: center;padding:18px 24px;
    &:last-of-type{border-bottom:0;}
}
.neighbor_data_key_cols{}
.neighbor_data_link_cols{padding-left:28px;}
.neighbor_data_key{
    display:inline-block;color:#999999; font-size:16px;font-weight:700; position:relative; padding-left:28px; white-space: nowrap;
    &:before{
        display:block;content:'';width:16px;height:16px;background:url("../images/ico_prev_write.png") no-repeat 50% 50%/100% auto; position:absolute;top:50%;left:0;transform: translateY(-50%);
    }
    &.type2{
        &:before{background-image:url("../images/ico_next_write.png")}
    }
}
.neighbor_data_link{font-size:18px;color:#333; @include clamp(1); letter-spacing: -0.05em; line-height: 1.4; font-weight:500;}
@media (max-width:$mobile){
    .view_title_row{padding-bottom:20px;}
    .view_title{font-size:22px;}
    .view_util_wrap{margin-top:10px;}
    .view_util_list{
        gap:12px;
    }
    .view_caption_obj{
        font-size:14px;
    }
    .view_contents{
        padding:20px 15px;
        img{width:auto !important;height: auto !important;}
        *{word-break: break-all;}
    }
    .attach_file_wrap{
        padding:18px 20px;
    }
    .attach_file_list{
        > li{
            gap:7px;
            &:before{width:20px;height:20px;flex:0 0 20px;}
            margin-bottom:10px;
        }
    }
    .attach_file_item{display:inline; padding-top:2px;}
    .attach_file{display:inline;}
    .attach_file_text{font-size:14px;}
    .attach_file_sub{font-size:12px;padding:2px 0 0 0;}
    .neighbor_data_wrap{margin-top:20px;border-radius:12px;}
    .neighbor_data_row{
        padding:15px 15px;
    }
    .neighbor_data_link_cols{padding-left:20px;padding-top:0.5px;}
    .neighbor_data_key{
        font-size:14px; padding-left:20px;
        &:before{
            width:14px;height:14px;
        }
    }
    .neighbor_data_link{font-size:14px;letter-spacing: 0;}
}


/* form */
.form_cols_container{display:flex;max-width:848px; margin:0 auto;gap:128px;}
.form_cols{flex:1;min-width:0;}
.form_fieldset{
    &.type2{

    }
}
.form_field_legend{display:block;text-align: center;margin-bottom:40px;}
.form_field_legend_logo{
    width: 114px; height:44px; display:inline-block; background:url("../images/login_mainbiz_logo.png") no-repeat 50% 50%/100% auto; vertical-align: middle;
    &.type2{width: 166px; height:44px; background-image:url("../images/login_mainbiz_logo2.png");}
}
.field_inner_block{
    margin-bottom:16px;
    &:last-of-type{margin-bottom:0;}
}

.btn_form_submit{border-radius:12px;background:$primary;display:block;text-align: center;padding:26px;
    &.size2{padding:20px;}
}
.btn_form_submit_text{color:#fff; font-weight:700; font-size:20px; line-height:1;display:inline-block;}
.field_other_item_wrap{margin-top:40px;}
.field_other_item_list{
    display:flex; justify-content: center; align-items: center; gap:24px;
    > li{
        &:last-of-type{}
    }
}
.btn_text_item{font-size:16px;color:#999999; line-height:1; display:inline-block; font-weight:500;}

.form_linkbox{background:#003863; border-radius:12px;min-height:224px;display:flex;flex-direction: column; align-items: center;justify-content: space-between; box-sizing: border-box;padding:32px;}
.form_linkbox_title_group{color:#fff; text-align: center;line-height:1.35;}
.form_linkbox_title_sub{font-size:24px; letter-spacing: -0.05em;}
.form_linkbox_title_main{font-size:30px; font-weight:700;}
.form_linkbox_content_group{}
.btn_direct_go{display:inline-block;width:40px;height:40px;background:url("../images/ico_family_go.png") no-repeat 50% 50%/100% auto;margin:0 auto;}

.ms_inner_container{
    &.type2{
        .btn_form_submit_wrap{}
    }
}

.form_block_wrap{}
.form_block_item{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.form_block_title_row{margin-bottom:12px; display:flex; flex-wrap:wrap;gap:8px;}
.form_block_label{font-size:16px; font-weight:500; line-height:1; color:#999999;display:inline-block;}
.form_block_label_message{font-size:12px;font-weight:600; color:#F7943E; }
.form_block_content_row{
    input.form_input{}
}
.inline_form_group{display:flex; align-items: center;}
.inline_form_cols{
    flex:1;
    &.else_cols{white-space: nowrap;flex:0;padding:0 4px;}
}
.inline_form_else_text{}
.form_item_box_group{
    border-radius:8px;position:relative;overflow:hidden;border:1px solid #ddd;display:flex;
    input.form_input{border:0;height:46px; flex:1;}
}
.btn_form_box_control_cols{white-space: nowrap;flex:0;padding:8px 8px 8px 0;}
.btn_form_box_control{display:flex;color:#fff; font-weight:600; line-height:1; border-radius:4px; padding:5px 12px; background:#333333; text-align: center;box-sizing: border-box;height:100%; align-items: center; justify-content: center;}
.note_contents_wrap{
    padding:0 10px;
    .bullet_text_list{
        margin-top:20px;
        > li {
            &::before{}
            &:last-of-type{}
        }
    }
}


.btn_form_submit_wrap{margin-top:60px;
    .btn_form_submit{}
}
.btn_form_submit_text{}


.result_message_box{
    background: rgba(0, 119, 192, 0.1); font-weight:500; font-size:24px; line-height:1.4; word-break:keep-all;  letter-spacing:-0.05em; padding:24px; color:$primary; text-align:center; border-radius: 16px;
    & + .note_contents_wrap{}
}

.sort_item_wrap{display:flex; gap:16px; margin-bottom:32px;}
.sort_item_cols{
    display:flex; gap: 16px;
    .form_select{width:100%;min-width:160px;}
    &.long_type{flex:1; }
    &:last-of-type{}
}
.search_field_container{
    border:1px solid #bbb; height: 48px; border-radius:8px; position:relative; overflow:hidden; box-sizing: border-box; width:100%; display:flex;align-items:center;
    > input.search_input{flex:1;}
}

.btn_ico_search_submit{flex:0 0 46px;display:block; width:46px;height:46px;background:url("../images/ico_search_20x20.png") no-repeat 50% 50%/20px auto;}
.list_board_table_wrap{border-top:3px solid $primary;}
.list_board_table{
    width:100%;  text-align: center; table-layout: fixed;
    &.type2{
        table-layout: auto;
    }
    thead{
        th{border-bottom:1px solid #73B4DD;padding:18px 10px;text-align: center;}
    }
    tbody{
        td{
            border-bottom:1px solid #DDDDDD; padding:18px 10px; text-align: center;
            &.has_primary{
                text-align: left;
            }
        }
    }
}
.list_th_text{font-size:18px; color:$primary; line-height:1; font-weight: 700; font-size: 18px; line-height: 130%;
    letter-spacing: -0.05em;}
.list_td_text{
    &.cloudy{}
    &.current_keyword{}
}
.list_td_number{font-size:18px;color:#999999 !important; @include rubik; display:inline-block; line-height:1;position:relative;top:1px;}
.nodata_tr{}
td.nodata_td{padding:200px 20px !important;}
.nodata_para{font-size:18px;color:#333333; font-weight:500; display:inline-block;}

.td_obj_text_group{display:flex;align-items: center; gap:10px;justify-content:center;}
.td_obj_text_key{ display:none;font-size:14px;color:#666;white-space: nowrap;}
.td_obj_text_value{font-size:18px;color:#333333; font-weight:500; display:inline-block;}

.list_td_link{@include clamp(1);font-size:18px;color:#333333; font-weight:500; line-height:1.4;vertical-align: middle;}


.box_form_table_wrap{}
.box_form_table{
    tr{
    }
    th{}
    td{}
}
.box_form_label{}
.box_radio_item_group{}
.box_radio_item{}
.box_radio_label{}
.box_radio_form{
    &:checked{
        & + .box_radio_label{}
    }
}
.grid_form_box_wrap{}
.grid_form_box{}
.message_note_box{}
.meaage_note_list{
    > li{}
}
.grid_note_para{
    .emp{}
    .emp_sub{}
}
.grid_form_table{}
.grid_form_tr{}
.grid_form_cols{}
.grid_form_item{}
.grid_form_key{}
.grid_form_value{
    input.form_input{}
}
.message_note_title_row{}
.message_note_wordbox{}
.message_note_word{}
.data_render_box{}
.form_flag{}
.grid_form_label{}
.grid_form_value{}
.form_file_group{}
.form_file_get_name{}
.form_file_btn_group{}
.file_origin_form{}
.form_file_control{}

.inform_group{
    input.form_input{}
}
.btn_inform_control{}


.inline_form_wrap{}
.inline_form_cols{
    &.else_cols{}
    input.form_input{}
}
.inline_else_text{}

.form_inner_block{
    .props_item{}
}


@media (max-width:$tablet){
    .form_cols_container{gap:40px;}

        
    .sort_item_wrap{ gap:10px;}
    .sort_item_cols{
        gap: 10px;
        .form_select{width:100%;min-width:100px;}
    }

}
@media (max-width:$mobile){
    .form_cols_container{flex-direction: column;gap:60px;}
    .form_field_legend{margin-bottom:20px;}
    input.form_input{height:52px;border-radius:8px;}
    .btn_form_submit{border-radius:8px;padding:20px;}
    .field_other_item_wrap{margin-top:25px;}
    .btn_text_item{font-size:14px;}
    .field_inner_block{margin-bottom:10px;}

    .form_field_legend_logo{
        width: 80px; height:31px; 
        &.type2{width: 129px; height:31px;}
    }

    .form_linkbox_title_sub{font-size:20px;}
    .form_linkbox_title_main{font-size:24px;}

    .form_linkbox{min-height:180px;padding:20px;}

    .result_message_box{
        font-size:16px; padding:20px; border-radius: 10px;
    }

        
    .sort_item_wrap{flex-direction: column;
        &.break_type2{
            flex-direction: row;
        }
    }
    .sort_item_cols{
        &:last-of-type{}
    }

    .search_field_container{
        height: 40px;
    }
    .btn_ico_search_submit{flex-basis: 40px; width:40px; height: 40px;background-size:15px auto;}


    .list_board_table_wrap{
        border-top-width:2px;
        thead{
            th{padding:15px;}
        }
        tbody{
            td{padding:15px;}
        }
        .list_td_link,
        .list_td_number,
        .list_th_text{font-size:14px;}
        .list_td_link{position:relative;top:1px;}
        &.respon_type{
            .list_board_table{
                colgroup{display:none;}
                thead{display:none;}
                tbody{}
                tbody,tr,td{display:block;text-align: left;padding:0;}
                tr{border-bottom:1px solid #ddd;display:flex;flex-wrap:wrap;padding:10px 5px;
                    &.nodata_tr{
                        justify-content: center; text-align: center;
                    }
                }
                td{border:0;width:auto;flex:0 0 45%;box-sizing: border-box;padding:5px 10px; display:flex;
                    &.nodata_td{
                        flex:1; text-align: center; padding:80px 20px !important; justify-content: center;
                    }
                    &:nth-of-type(2n){flex:0 0 55%;}
                }
                .td_obj_text_group{justify-content: flex-start;}
                .td_obj_text_key{display:block;}
                .td_obj_text_value{font-size:14px;font-weight:500;}
            }   
        }
    }
    .nodata_para{font-size:14px;}
}

@media (max-width:$mobile_size1){
    
}
@media (max-width:$mobile_size3){
    .list_board_table_wrap{
        &.respon_type{
            .list_board_table{
                td{padding:7px 10px;}
                .td_obj_text_group{flex-direction: column;justify-content: baseline;align-items: baseline;gap:5px;}
                .td_obj_text_key{display:block;}
                .td_obj_text_value{font-size:14px;font-weight:500;}
            }   
        }
    }
    .sort_item_cols{
       flex-direction: column;
    }
    .sort_item_wrap{
        &.break_type2{
            flex-direction: column;
        }
    }
}



/* design page */
.message_column_item_area{}
.message_column_item{
    &:last-of-type{}
}
.message_emp_box{}
.message_column_para{}
.guide_obj_item_area{}
.guide_obj_item{
    &:last-of-type{}
}
.guide_obj_title_row{}
.guide_obj_title{}
.guide_obj_title_caption{}
.guide_obj_contents{}
.system_dia_item_list_wrap{}
.system_dia_item_list{
    > li{
        &:last-of-type{}
        &.type2{
            .system_dia_item{}
        }
    }
}
.system_dia_item{
    &:after{}

    &.type2{
        &:after{}
        .system_dia_icon_row{}
        .icon_system_dia{
        }
        .system_dia_copy_row{}
        .system_dia_main_copy{}
        .system_dia_sub_copy{}
    }

    &.type3{
        &:after{}
        .system_dia_icon_row{}
        .icon_system_dia{
        }
        .system_dia_copy_row{}
        .system_dia_main_copy{}
        .system_dia_sub_copy{}
    }
}
.system_dia_icon_row{}
.icon_system_dia{
    > img{}
}
.system_dia_copy_row{}
.system_dia_main_copy{}
.system_dia_sub_copy{}
.system_dia_sub_emp{}


.compare_item_wrap{
    & + .btn_bottom_wrap{}
}
.compare_item_cols{}
.compare_img_wrap{
    > img{}
}
.compare_guide_system_box{}
/* // design page */