/* layout */
html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}


/* skip navigation */
.skiplist {position:relative;z-index:9999;margin:0; padding:0;}
.skip {display:none; font-family: 'Pretendard','돋움', dotum; text-align:left; margin:0; padding:0; position:absolute;width:100%;top:0;left:0;} /*All incl Opera*/
/* * html */ .skip {display:block} /*Seen by IE*/
:root .skip {display:block} /*Seen by Moz, FF and Safari*/
.skip a {box-sizing:border-box;padding:0 10px; display:block; z-index:1000; text-decoration:none; position:absolute; width:100%; left:-100%;text-align:center; font-family: 'Pretendard','돋움', dotum;}
.skip a:focus, .skip a:active {position:absolute; left:0; padding:10px; border:solid #333 1px; color:#fff; background:#3b3c3f;box-sizing: border-box;width:100%;}
.skip a:hover {cursor:default}
.skip.pc_skip{display:block;}
.skip.mb_skip{display:none;}
/* //skip navigation */

/* body{
    ::-webkit-scrollbar {width:10px;}
    ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
    ::-webkit-scrollbar-track {background-color: #fff;border-radius: 10px;box-shadow: inset 0px 0px 5px white;}
} */
.front_body{
}
.page_wrap{
    min-width:280px; display:flex;flex-direction: column; overflow-x:hidden; position:relative; min-height:100vh;
    &.guide{display:block;}
    &.main{
        .header_nav_list_wrap{
            background:$primary; border-top-color:transparent;
        }
        .header_nav_menu{
            color:#fff;
        }
    }
}
.header_wrap{
    flex:0; position:relative; z-index:50;
}
.header_util_wrap{
    background-color:#EEEEEE; display:flex; justify-content: space-between; gap:20px; padding:9px 60px; 
}
.header_toplogo{
    display:inline-block; max-width:227px;
}
.header_toplogo_mb{
    display:none; max-width:78px; position:absolute;top:50%;left:20px;transform: translateY(-50%);
}
.header_toplogo_link{
    display:inline-block;
    img{vertical-align: top;}
}
.header_util_item_list_wrap,
.header_util_item_list{
    display:flex; justify-content: flex-end; align-items: center; gap:16px;
    > li{}
}
.header_util_menu{
    display:inline-block; font-size:14px; color:#999999; font-weight:600; line-height:1;
    &.type2{background:$primary;padding:7px 12px;border-radius:100px;color:#fff;}
}
.header_nav_wrap{
}
.header_nav_list_wrap{
    background:#fff; height:72px; box-sizing: border-box; border-top:1px solid #ddd; transition:.5s background;
    /* &.ready{
        .nav_depth_menu_list_wrap{
             display:block;
        }
    } */
    &.active{background:$primary;
        .header_nav_menu{color:#fff;}
    }
}
.header_nav_list{
    display:flex; height:100%; justify-content: center; gap:120px; position:relative;z-index:2;
    > li{
        display:flex; position:relative;
        &:hover,&:focus,&.active{
            .header_nav_menu{color:#FFBC00;}
        }
        &:last-of-type{}
    }
}

.header_nav_menu{color:#333333;font-size:22px;font-weight: 800;line-height:1;display:flex;align-items: center; position: relative;
    &:focus,
    &:hover{color:#FFBC00;}
    /* &:focus{
        outline:0;
        &:after{display:block;content:'';width:110%;height:90%;box-sizing: border-box;outline:1px dashed #fff;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
    } */
}

.bg_depth{background:#0077C0; transition:.5s;position:absolute;top:100%;left:0;width:100%;height:0;}
.nav_depth_menu_list_wrap{position:absolute;top:100%;left:-60px;width:calc(100% + 120px);background:#0077C0;text-align: center; height:0; overflow:hidden; display:block;
    transition:.5s;
}
.nav_depth_menu_list{
    padding-bottom:25px;
    > li{
        padding-bottom:19px;
        &:last-of-type{padding-bottom:0;}
    }
}
.nav_depth_menu{font-size:18px;color:#fff;opacity:.6;letter-spacing: -0.05em; font-weight:600;
    &:focus,
    &:hover{color:#FFBC00;opacity:1;}
}


.btn_panel_menu{
    display:none;align-items:center;justify-content:center;width:40px;height:40px;background:$primary;border-radius: 100%; position:absolute; top:50%;right:20px;flex-direction:column; transform: translateY(-50%);
    &:before,
    &:after{display:block;content:'';width:20px;height:2px;background:#fff;border-radius:2px;}
}
.btn_panel_menu_ico{display:block;width:20px;height:2px;background:#fff;border-radius:2px;margin:6px 0;}

.mobile_mainmenu_zone{
    display:none;position:fixed;top:0;right:0;width:100%;height:100%;z-index:50;
    &.active{
        display:block;
        &.motion .mobile_mainmenu_wrap{right:0;}
        &.active.motion .mainmenu_dim{opacity:0.8;}
    }
}
.mainmenu_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;transition: .5s;}
.mobile_mainmenu_wrap{width:247px;background:$primary;position:fixed;top:0;right:-247px;height:100%; transition: .5s;display:flex;flex-direction: column;}
.mbelse_low{flex:0;padding:20px;text-align: center;}
.mbelse_copy{font-size:10px;}
.mbutil_row{height:56px;background:$primary;display:flex;align-items: center;padding:0 60px 0 20px;position:relative;z-index:5;flex:0 0 56px;}
.mbutil_hlist{
    display:flex;align-items: center;
    > li{
        padding-right:5px;
        &:last-of-type{padding-right:0;}
    }
}
.mbutil{display:inline-block;border:1px solid #fff; font-size:14px;line-height:1;padding:7px 14px 6px;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.11); white-space: nowrap;color:#fff;}
.mblog_sym{color:#fff;font-weight:500;}
.mbmenu_row{position:relative;overflow-y:auto;flex:1;}
.mbmenu_one{
    display:block;color:#fff;font-size:17px;padding:15px 55px 15px 20px;line-height:1;position:relative;font-weight:500;
    &:after{
        display:block;content:'';width:8px;height:8px;border-right:2px solid #fff;border-bottom:2px solid #fff;
        position:absolute;top:15px;right:22px;
        transform: translateZ(0);
        transform:rotate(45deg);
    }

   
}
.mbmenu_two_menu_list_wrap{
    height:0;transition:.5s;overflow:hidden; visibility: hidden;
    &.motion{
        visibility: visible;
    }
    background:#0066a5;
}
.mbmenu_two_menu_list{
    padding:10px 0;
    > li{}
}
.mbmenu_two_menu{font-size:rem(14);display:block;padding:10px 30px;color:#fff;}
.mbmenu_vlist{
    text-align:left;
    > li{
        
        &.active{
            .mbmenu_one{
                .mbmenu_one{color:#FFBC00; }
                &:after{
                    transform:rotate(225deg); top:19px;
                }
            }
        }
    }
}
.mbmenu_util_menu_vlist{
    padding:20px 20px;
    > li{}
}
.btn_mbmenuclose{display:block;width:55px;height:55px;z-index:10;background:url("../images/btn_totalclose.png") no-repeat 50% 50%/100% auto;position:absolute;top:0;right:0;}
.mbmenu_util_menu{
    display:block; font-size:14px; font-weight:700; color:$primary; font-weight:600; line-height:1;background:#fff;padding:10px 12px;border-radius:100px;text-align: center;
}

.middle_wrap{flex:1; min-height:0;}

.footer_wrap{flex:0;background:#303748;}
.footer_sub_row{border-bottom:1px solid rgba(255,255,255,.1);display:flex;justify-content: space-between;padding:20px 60px;box-sizing: border-box; align-items: center;gap:20px;min-height:90px;}
.footer_sub_cols{
    &:last-of-type{}
}
.footer_menu_list{
    display:flex; gap:20px;
    > li{
        &:last-of-type{}
    }
}
.footer_menu{
    display:inline-block; font-size:20px; font-weight:600; line-height:1; color:#fff;
    &.type2{color:#FFBC00; font-weight:800;}
}
.footer_box_menu_list{
    display:flex; gap:20px;
    > li{

    }
}
.footer_box_menu{display:inline-flex;gap:10px;padding:11px 20px; border:1px solid #fff;border-radius: 8px; align-items: center;}
.footer_box_menu_text{display:inline-block;color:#fff; white-space: nowrap; line-height:1; font-weight:600; font-size:22px;}
.footer_box_menu_ico{
    display:block; width:24px;height:24px; background:url("../images/ico_family_go.png") no-repeat 50% 50%/100% auto;
}

.footer_main_row{display:flex;justify-content: space-between;padding:40px 60px;align-items: center;gap:20px;}
.footer_main_cols{
    &:last-of-type{}
}
.footer_data_item_list{
    display:flex; flex-direction: column; gap:16px; font-size:0;line-height:0;
    > li{
        &:last-of-type{}
    }
}
.footer_data_emp_text{font-size:18px; color:#fff; font-weight:500; display:inline-block; line-height:1; word-break: keep-all;}
.footer_data_tail_text{
    font-size:18px; color:#fff; font-weight:500; display:inline-block; opacity:.5; line-height:1; word-break: keep-all;
    &.type2{font-family: 'Rubik Medium';}
    &.copyright{font-family: 'Poppins Regular'; opacity:.3}
}
.footer_data_tail_text_group{display:flex; align-items: center; gap:10px;}
.footer_data_guide_item{    
    display:flex; justify-content: flex-end; flex-direction: column;text-align: right;
}
.footer_data_guide_emp{font-size:36px;color:#FFBC00;line-height:1;display:inline-block;font-family: 'Rubik Medium';}
.footer_data_guide_list{
    margin-top:12px; color:#fff; opacity : .5; font-size:16px; text-align: right;
    > li{
        margin-bottom:2px;
        &:last-of-type{margin-bottom:0;}
    }
}
.data_num_text{font-family: 'Rubik Regular';}

.middle_single_package{padding:120px 30px 160px;}
.middle_single_title_row{margin-bottom:80px;}
.middle_single_title{
    
    font-family: 'GmarketSans','Pretendard',dotum;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.05em;
    
    /* MBIZ NIGHT */
    color: #333333;
    }
.middle_single_content{}

.ms_inner_container{max-width:356px;margin:0 auto;
    &.type2{max-width:420px;}
}

.sub_visual_wrap{display:flex; align-items:center;box-sizing:border-box;padding:20px 30px;min-height:240px;background:url("../images/sub_visual.jpg") no-repeat 50% 50%/cover;
    // &.sv01{background-image:url("../images/img_sv_01.jpg");}
    // &.sv02{background-image:url("../images/img_sv_02.jpg");}
    // &.sv03{background-image:url("../images/img_sv_03.jpg");}
    // &.sv04{background-image:url("../images/img_sv_04.jpg");}
    // &.sv05{background-image:url("../images/img_sv_05.jpg");}
    // &.sv06{background-image:url("../images/img_sv_06.jpg");} 
}
.sub_visual_copy_group{max-width:1280px;width:100%; margin:0 auto;}
.sub_visual_secondary_copy{font-size:20px;line-height:1;font-family: 'Poppins Bold'; opacity: .6;color:#fff;}
.sub_visual_primary_copy{margin-top:12px;font-size:48px;color:#fff; font-weight: 800; line-height:1;}
.sub_content_wrap{@include cont_center;}
.breadcrumb_list_wrap{margin:40px 0;}
.breadcrumb_list{
    display:flex;align-items:center;
    > li{
        display:flex;align-items:center;
        &:last-of-type{
            &:after{display:none;}
        }
        &:after{display:block;content:'';width:21px;height:8px;background:url("../images/ico_map_allow.png") no-repeat 50% 50%/5px auto;}
    }
}
.ico_maphome{display:inline-block;width:15px;height:16px;background:url("../images/ico_map_home.png") no-repeat 50% 50%/100% auto;}
.breadcrumb_menu_item{
    font-size:16px;color:#999999; line-height:1; display:inline-block;
    &.emp{color:#0077C0;font-weight:700;}
}

.sub_content_package{}
.sub_title{font-size:36px;line-height:1; @include gmarket; font-weight:700; color:#333333;margin-bottom:80px;}
.sub_contents{padding-bottom:100px;}

@media (max-width:$tablet){
    .header_util_wrap{
       gap:10px; padding:9px 30px; 
    }
    .header_nav_list{
        gap:60px;
    }
    .nav_depth_menu_list_wrap{left:-30px;width:calc(100% + 60px);}
    .footer_sub_row{padding:10px 30px;}
    .footer_main_row{padding:30px 30px;}
    .footer_box_menu{padding:10px 15px;}

    .footer_menu_list{
        gap:15px;
    }

    .footer_menu{font-size:18px;}
    .footer_box_menu_text{font-size:18px;}
    .footer_data_tail_text,
    .footer_data_emp_text{font-size:16px;}
    .footer_data_item_list{gap:10px;}
    .footer_data_guide_emp{font-size:28px;}

    .footer_data_guide_list{font-size:14px;}

    .middle_single_package{padding:60px 30px 100px;}
    .middle_single_title_row{margin-bottom:40px;}
    .middle_single_title{
        font-size: 30px;
        letter-spacing: 1px;
    }

    
    .sub_visual_wrap{min-height:180px;}
    .sub_visual_secondary_copy{font-size:18px;}
    .sub_visual_primary_copy{font-size:40px;}
    .breadcrumb_list_wrap{margin:30px 0;}
    .sub_content_package{}
    .sub_title{font-size:30px;margin-bottom:40px;}
    .sub_contents{}
}
@media (max-width:$mobile){
    .skip.pc_skip{display:none;}
    .skip.mb_skip{display:block;}
    .header_toplogo_mb{display:block;}
    .header_toplogo{display:none;}
    .btn_panel_menu{display:flex;}
    .header_nav_wrap{display:none;}
    .header_util_item_list_wrap{display:none;}
    .header_util_wrap{background:none;display:flex;justify-content: center;display:flex;justify-content: center; align-items: center;padding:0 0;height:80px;}

    .sub_visual_wrap{min-height:100px;padding:0 20px;}
    .sub_visual_secondary_copy{font-size:16px;}
    .sub_visual_primary_copy{font-size:28px;margin-top:8px;}
    .breadcrumb_list_wrap{margin:20px 0;}
    .breadcrumb_menu_item{font-size:14px;}
    .sub_content_package{}
    .sub_title{font-size:20px;margin-bottom:25px;}
    .sub_contents{padding-bottom:30px;}

    .sub_content_wrap{padding:0 20px;}

    .footer_sub_row{flex-direction: column;padding:20px;gap:15px;min-height:0;}
    .footer_menu{font-size:12px;}
    .footer_box_menu_text{font-size:12px;}
    .footer_box_menu_ico{width:14px;height:14px;}

    .footer_sub_cols{width:100%;
        &.has_outlink{display:none;}
    }
    .footer_menu_list{width:100%; gap:16px;}
    .footer_box_menu{padding:7px 12px; border-radius:5px;gap:7px;}

    .footer_box_menu_list{justify-content: center;}

    .footer_main_row{flex-direction: column;padding:16px 20px 42px; flex-direction: column-reverse;gap:18px}

    .footer_data_item_list{gap:7px;}
    .footer_data_emp_text{font-size:12px;}
    .footer_data_tail_text{font-size:12px;line-height:1.2;
        &.copyright{font-size:12px;text-align: center;}
    }

    .footer_main_cols{width:100%;}
    .footer_data_guide_item{justify-content: flex-start;text-align: left;width:100%;}
    .footer_data_guide_list{text-align: left;margin-top:12px;}

    .middle_single_package{padding:30px 20px 60px;}
    .middle_single_title_row{margin-bottom:30px;}
    .middle_single_title{font-size: 24px;}
    
}
@media (max-width:$mobile_small){
    .footer_menu_list{flex-wrap:wrap; justify-content: center;gap:10px;}
    .footer_menu{font-size:11px;}
}