/* 공통 */

.table {
  margin-top: 32px;
  border: 1px solid #73b4dd;
  border-radius: 16px;

  .left {
    text-align: left !important;
  }
  .center {
    text-align: center !important;
  }

  table {
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
    border-radius: 16px;

    th{
      &.type2{
        color:#333;
      }
    }

    td{
      .td_para + .indent_bullet_list{margin-top:5px;}
      .indent_bullet_list{text-align: center;
        > li{justify-content: center;}
      }
    }
  }

  &.type1 {
    tr:nth-child(n+2) th,
    tr:nth-child(n+2) td {
      border-top: 1px solid #73b4dd;
    }

    th,
    td {
      padding: 12px 20px;
      font-size: 18px;
      line-height: 23.4px;
      letter-spacing: -0.5px;
      text-align: left;
    }

    th {
      background-color: rgba(0, 119, 192, 0.1);
      font-weight: 700;
      color: #0077c0;
    }

    td {
      border-left: 1px solid #73b4dd;
      color: #333;
    }
  }

  &.type2 {
    tr:nth-child(n+2) th,
    tr:nth-child(n+2) td {
      border-top: 1px solid #73b4dd;
    }

    th,
    td {
      padding: 12px 20px;
      font-size: 18px;
      line-height: 23.4px;
      letter-spacing: -0.5px;
      text-align: center;
    }

    th {
      font-weight: 700;
      color: #0077c0;
    }

    thead th {
      height: 60px;
      padding: 0 10px;
      border-bottom: 1px solid #73b4dd;
      background-color: rgba(0, 119, 192, 0.1);

      &:nth-child(n+2) {
        border-left: 1px solid #73b4dd;
      }
    }

    td {
      border-left: 1px solid #73b4dd;
      color: #333;

      &:first-child {
        border-left: none;
      }
    }

    th[rowspan],
    td[rowspan] {
      border-right: 1px solid #73b4dd;
    }

    tr td:last-child {
      border-right: none;
    }
  }

  &.ptype2{
    th,td{padding:18px;}
    th{}
    td{}
  }
}
.table_text {
  display: block;
  margin-top: 6px;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: -0.5px;

  &.gray {
    color: #999;
  }

  &.orange {
    color: #f7943e;
  }

  &.bullet {
    position: relative;
    padding-left: 12px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: #333;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &.small {
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: -0.5px;
  }
}
.table_button_go {
  display: inline-block;
  margin-left: 5px;
  padding: 4.5px 36px 4.5px 10px;
  border: 1px solid #f7943e;
  border-radius: 8px;
  background: url("../images/ico_table_button_go.png") no-repeat right 10px top 50%;
  background-size: 20px auto;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #f7943e;
}

@media (max-width:$tablet){
  .table {
    &.type1,
    &.type2 {
      th,
      td {
        padding: 12px 15px;
        font-size: 17px;
        line-height: 23px;
      }
    }
  }
  .table_text {
    font-size: 15px;
    line-height: 19px;

    &.bullet {
      padding-left: 10px;

      &::after {
        top: 6px;
        width: 4px;
        height: 4px;
      }
    }

    &.small {
      font-size: 15px;
      line-height: 19px;
    }
  }
}
@media (max-width:$mobile_large){
  .table {
    overflow-x: auto; 
    margin-top: 25px;

    &::-webkit-scrollbar{height:10px;}

    &.type1,
    &.type2 {
      th,
      td {
        padding: 12px 5px;
        font-size: 14px;
        line-height: 20px;
      }
    }

    &.type2 {
      table {
        min-width: 830px;
      }
    }
  }
  .table_text {
    font-size: 14px;
    line-height: 17px;

    &.bullet {
      padding-left: 10px;

      &::after {
        top: 6px;
        width: 4px;
        height: 4px;
      }
    }

    &.small {
      font-size: 14px;
      line-height: 17px;
    }
  }
  .table_button_go {
    padding: 3px 28px 3px 7px;
    font-size: 14px;
    background-position: right 7px top 50%;
    background-size: 16px auto;
  }
}
@media (max-width:$mobile){
  .table {
    margin-top: 20px;

    &.type1,
    &.type2 {
      th{text-align: center;}
      th,
      td {
        padding: 10px 5px;
        font-size: 13px;
        line-height: 16px;
      }
    }

    &.type2 {
      thead th {
        height: 45px;
      }
    }

    &.type2 {
      table {
        min-width: 780px;
      }
    }
  }
  .table_text {
    font-size: 13px;
    line-height: 16px;

    &.small {
      font-size: 13px;
      line-height: 16px;
    }
  }
  .table_button_go {
    padding: 3px 28px 3px 7px;
    font-size: 13px;
    background-position: right 7px top 50%;
    background-size: 14px auto;
  }
}

.title_wrap {
  margin: 64px 0 32px;
}
.title {
  display: block;

  &.type1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #555;
  }

  &.type2 {
    margin: 32px 0 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #0077c0;

    &:first-child {
      margin-top: 0;
    }
  }
}
.text {
  &.type1 {
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: -0.5px;
    color: #777;
  }

  .bold {
    font-weight: 700;
    color: #333;
  }
}

@media (max-width:$mobile_large){
  .title_wrap {
    margin: 44px 0 25px;
  }
  .title {
    display: block;

    &.type1 {
      font-size: 24px;
      line-height: 24px;
    }

    &.type2 {
      margin: 22px 0 12px;
      font-size: 20px;
      line-height: 20px;
    }
  }
  .text {
    &.type1 {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
@media (max-width:$mobile){
  .title_wrap {
    margin: 30px 0 20px;
  }
  .title {
    display: block;

    &.type1 {
      font-size: 19px;
      line-height: 19px;
    }

    &.type2 {
      margin: 20px 0 10px;
      font-size: 17px;
      line-height: 17px;
    }
  }
  .text {
    &.type1 {
      font-size: 15px;
      line-height: 21px;
    }
  }
}

.info_list {
  margin: 32px 0;
  padding: 24px;
  border-radius: 16px;
  background-color: rgba(0, 119, 192, 0.1);
}
.info_list_title {
  display: inline-block;
  position: relative;
  margin-bottom: 21px;
  padding: 5px 12px;
  border-radius: 5px;
  background-color: #f7943e;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: -0.5px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    left: 12px;
    width: 12px;
    height: 6px;
    background: url("../images/ico_info_list_arrow.png") no-repeat 0 0;
    background-size: contain;
  }
}
.info_list_item {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-size: 16px auto;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: -0.5px;
  color: #0077c0;

  & + & {
    margin-top: 8px;
  }

  &.blue {
    background-image: url("../images/ico_info_list_item_blue.png");
    color: #0077c0;
  }

  &.gray {
    background-image: url("../images/ico_info_list_item_gray.png");
    color: #999;
  }
}

@media (max-width:$mobile_large){
  .info_list_title {
    font-size: 15px;
    line-height: 18px;
  }
  .info_list_item {
    padding-left: 18px;
    background-position: 0 4px;
    background-size: 12px auto;
    font-size: 16px;
  }
}

/* MAINBiz 안내 - 제도 안내 */
.overview_visual {
  position: relative;
  display: flex;
  align-items: center;
  height: 300px;
  padding-left: 64px;
  border-radius: 16px;
  background:linear-gradient(to left, #3ec6c9, #5c79d1);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 312px;
    aspect-ratio: 51/26;
    background: url("../images/img_overview_visual.png") no-repeat 0 0;
    background-size: contain;
  }
}
.overview_visual_text {
  display: block;
  font-family: 'Poppins Bold';
  font-size: 64px;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.5);
}

.overview_history {
  overflow: hidden;
  display: flex;
  gap: 25px;
}
.overview_history_item {
  flex: 1;
  box-sizing: border-box;

  &.item1 {
    padding-top: 80px;
  }
  &.item2 {
    padding-top: 60px;
  }
  &.item3 {
    padding-top: 40px;
  }
  &.item4 {
    padding-top: 20px;
  }
  &.item5 {
    padding-top: 0;
  }
}
.overview_history_date {
  display: block;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 20px solid #0077c0;
  font-size: 36px;
  font-family: 'Rubik Light';
  line-height: 36px;
  color: #0077c0;
}
.overview_history_cont {
  height: 100%;
  border-left: 1px solid #ddd;
}
.overview_history_text {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-align: right;
}
.overview_history_small {
  margin-top: 16px;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: -0.5px;
  text-align: right;
  color: #888;
}

@media (max-width:$tablet) {
  .overview_visual {
    height: 250px;
    padding-left: 50px;

    &::after {
      height: 250px;
    }
  }
  .overview_visual_text {
    font-size: 55px;
    line-height: 70px;
  }

  .overview_history_date {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 14px solid #0077c0;
    font-size: 32px;
    line-height: 32px;
  }
  .overview_history_text {
    font-size: 18px;
    line-height: 24px;
  }
  .overview_history_small {
    margin-top: 13px;
    font-size: 16px;
    line-height: 20.8px;
  }
}
@media (max-width:$mobile_large) {
  .overview_visual {
    height: 200px;
    padding-left: 40px;

    &::after {
      height: 200px;
    }
  }
  .overview_visual_text {
    font-size: 43px;
    line-height: 60px;
  }

  .overview_history {
    gap: 15px;
  }
  .overview_history_item {
    &.item1 {
      padding-top: 40px;
    }
    &.item2 {
      padding-top: 30px;
    }
    &.item3 {
      padding-top: 20px;
    }
    &.item4 {
      padding-top: 10px;
    }
    &.item5 {
      padding-top: 0;
    }
  }
  .overview_history_date {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 8px solid #0077c0;
    font-size: 26px;
    line-height: 26px;
  }
  .overview_history_text {
    font-size: 14px;
    line-height: 20px;
  }
  .overview_history_small {
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
  }
}
@media (max-width:$mobile) {
  .overview_visual {
    align-items: start;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;

    &::after {
      right: 10px;
      bottom: 10px;
      height: 90px;
    }
  }
  .overview_visual_text {
    font-size: 30px;
    line-height: 35px;
  }

  .overview_history {
    gap: 20px;
    flex-wrap: wrap;
  }
  .overview_history_item {
    flex: 100%;

    &.item1 {
      padding-top: 0;
    }
    &.item2 {
      padding-top: 0;
    }
    &.item3 {
      padding-top: 0;
    }
    &.item4 {
      padding-top: 0;
    }
    &.item5 {
      padding-top: 0;
    }
  }
  .overview_history_cont {
    height: auto;
    border-left: none;
  }
  .overview_history_date {
    display: block;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #0077c0;
    font-size: 20px;
    line-height: 20px;
  }
  .overview_history_text {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;

    br {
      display: none;
    }
  }
  .overview_history_small {
    display: inline-block;
    margin-top: 0;
    font-size: 13px;
    line-height: 20px;
    vertical-align: top;
  }
}

/* MAINBiz 안내 - 인증 절차 */
.step_visual {
  position: relative;
  display: flex;
  align-items: center;
  height: 300px;
  padding-left: 64px;
  border-radius: 16px;
  background:linear-gradient(to left, #3ec6c9, #5c79d1);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 312px;
    aspect-ratio: 733/312;
    background: url("../images/img_step_visual.png") no-repeat 0 0;
    background-size: contain;
  }
}
.step_visual_text {
  display: block;
  font-family: 'Poppins Bold';
  font-size: 64px;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.5);
}

.step_list {
  display: flex;
  gap: 30px;
}
.step_list_item {
  flex: 1;
  position: relative;
  padding-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    top: 66px;
    right: -20px;
    width: 10px;
    height: 26px;
    background: url("../images/ico_step_list_arrow.png") no-repeat 0 0;
    background-size: contain;
  }

  &:last-child::after {
    display: none;
  }
}
.step_list_icon {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.step_list_title {
  display: block;
  position: relative;
  margin: 10px 0;
  padding-bottom: 11px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #0077c0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 1px;
    background-color: #0077c0;
    transform: translateX(-50%);
  }
}
.step_list_text {
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #777;

  &.gray {
    color: #bbb;
  }
}
.step_list_info {
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -60px;
  width: 90px;
  height: 63px;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  line-height: 20.8px;
  letter-spacing: -0.5px;
  color: #f7943e;
}
.step_list_period {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 20.8px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #0077c0;

  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 16px;
    border: 1px solid #0077c0;
    border-top: none;
    border-radius: 0 0 16px 16px;
  }
}

.step_method {
  padding: 24px;
  border: 1px solid #73b4dd;
  border-radius: 16px;

  .title {
    margin-top: 24px;
  }
  .text + .text {
    margin-top: 16px;
  }
}

.step_data_item {
  position: relative;
  padding-left: 16px;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: -0.5px;
  color: #777;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 6.5px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffbc00;
  }

  & + & {
    margin-top: 8px;
  }
}
.step_data_anchor {
  display: inline-block;
  margin: -4px 0 -5px 10px;
  padding: 4.5px 32px 4.5px 10px;
  border: 1px solid #f7943e;
  border-radius: 8px;
  background: url("../images/ico_step_data.png") no-repeat right 10px top 50%;
  background-size: 16px 16px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #f7943e;
  vertical-align: top;
}

@media (max-width:$tablet) {
  .step_visual {
    height: 250px;
    padding-left: 50px;

    &::after {
      height: 250px;
    }
  }
  .step_visual_text {
    font-size: 55px;
    line-height: 70px;
  }

  .step_list_item {
    padding-bottom: 35px;

    &::after {
      top: 60px;
      right: -20px;
      width: 8px;
      height: 18px;
    }
  }
  .step_list_icon {
    width: 58px;
    height: 58px;
  }
  .step_list_title {
    font-size: 18px;
    line-height: 24px;
  }
  .step_list_text {
    font-size: 15px;
    line-height: 19px;
  }
  .step_list_info {
    right: -60px;
    width: 90px;
    height: 52px;
    font-size: 14px;
    line-height: 18px;
  }
  .step_list_period {
    font-size: 14px;
    line-height: 18px;

    &::before {
      height: 12px;
      border-radius: 0 0 12px 12px;
    }
  }
}
@media (max-width:$mobile_large) {
  .step_visual {
    height: 200px;
    padding-left: 40px;

    &::after {
      height: 200px;
    }
  }
  .step_visual_text {
    font-size: 43px;
    line-height: 60px;
  }

  .step_list {
    gap: 15px;
  }
  .step_list_item {
    padding-bottom: 30px;

    &::after {
      top: 35px;
      right: -11px;
      width: 6px;
      height: 14px;
    }
  }
  .step_list_icon {
    width: 35px;
    height: 35px;
  }
  .step_list_title {
    font-size: 14px;
    line-height: 20px;
  }
  .step_list_text {
    font-size: 14px;
    line-height: 20px;

  }
  .step_list_info {
    right: -40px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    line-height: 15px;
  }
  .step_list_period {
    font-size: 13px;
    line-height: 15px;

    &::before {
      height: 8px;
      border-radius: 0 0 8px 8px;
    }
  }

  .step_data_item {
    padding-left: 14px;
    font-size: 16px;
    line-height: 21px;

    &::after {
      top: 6.5px;
      width: 8px;
      height: 8px;
    }
  }
  .step_data_anchor {
    margin-left: 8px;
    padding: 3px 28px 3px 7px;
    background-size: 16px 16px;
    background-position: right 7px top 50%;
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width:$mobile) {
  .step_visual {
    align-items: start;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;

    &::after {
      right: 10px;
      bottom: 10px;
      height: 90px;
    }
  }
  .step_visual_text {
    font-size: 30px;
    line-height: 35px;
  }

  .step_list {
    gap: 0 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .step_list_item {
    flex: 0 0 124px;
    padding-bottom: 40px;

    &::after {
      top: 35px;
      right: -11px;
      width: 6px;
      height: 14px;
    }
  }
  .step_list_icon {
    width: 30px;
    height: 30px;
  }
  .step_list_title {
    font-size: 14px;
    line-height: 20px;
  }
  .step_list_text {
    font-size: 13px;
    line-height: 18px;
  }
  .step_list_info {
    right: -40px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    line-height: 15px;
  }
  .step_list_period {
    font-size: 13px;
    line-height: 15px;
    line-height: 15px;

    &::before {
      height: 8px;
      border-radius: 0 0 8px 8px;
    }
  }

  .step_method {
    padding: 20px;
  }

  .step_data_item {
    padding-left: 12px;
    font-size: 15px;
    line-height: 21px;

    &::after {
      top: 7.5px;
      width: 6px;
      height: 6px;
    }
  }
  .step_data_anchor {
    margin-left: 5px;
    padding: 3px 28px 3px 10px;
    background-position: right 7px top 50%;
    background-size: 14px 14px;
    font-size: 13px;
    line-height: 21px;
  }
}

/* MAINBiz 안내 - 인증 혜택 */
.benefit_list {
  display: flex;
  margin-bottom: -10px;
  padding-bottom: 10px;
  gap: 16px;
}
.benefit_anchor {
  flex: 1;
  padding: 20px 5px;
  border-radius: 12px;
  background-color: #e9e9e9;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #999;
  text-align: center;

  &:hover,
  &:focus {
    position: relative;
    background-color: #0077c0;
    color: #fff;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 16px;
      height: 10px;
      background: url("../images/ico_benefit_anchor_arrow.png") no-repeat 0 0;
      background-size: contain;
    }
  }
}
.benefit_panel {
  padding-top: 64px;

  .title_wrap {
    margin-top: 0;
  }
}

@media (max-width:$mobile_large) {
  .benefit_list {
    gap: 10px;
  }
  .benefit_anchor {
    font-size: 17px;
    line-height: 17px;

    &:hover,
    &:focus,
    &.active {
      &::after {
        bottom: -10px;
        width: 16px;
        height: 10px;
      }
    }
  }
  .benefit_panel {
    padding-top: 44px;
  }
}
@media (max-width:$mobile) {
  .benefit_list {
    overflow-x: auto;
    margin-bottom: -5px;
    padding-bottom: 5px;
    gap: 5px;
  }
  .benefit_anchor {
    flex: 1 0 80px;
    padding: 15px 5px;
    font-size: 15px;
    line-height: 15px;

    &:hover,
    &:focus,
    &.active {
      &::after {
        bottom: -5px;
        width: 8px;
        height: 5px;
      }
    }
  }
  .benefit_panel {
    padding-top: 30px;
  }
}

/* MAINBiz 안내 - CI 소개 */
.ci {
  display: flex;
  gap: 30px;
}
.ci_item {
  flex: 1;
}
.ci_text {
  margin-top: 32px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.5px;
  color: #777;
}

@media (max-width:$mobile_large) {
  .ci {
    gap: 10px;
  }
  .ci_text {
    margin-top: 25px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width:$mobile) {
  .ci {
    gap: 5px;
  }
  .ci_text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}