/* 공통 */

.table.type1 {
  overflow: hidden;
  border: 1px solid #73b4dd;
  border-radius: 16px;

  table {
    width: 100%;
  }

  tr:nth-child(n+2) th,
  tr:nth-child(n+2) td {
    border-top: 1px solid #73b4dd;
  }

  th {
    padding: 12px 20px;
    border-right: 1px solid #73b4dd;
    background-color: rgba(0, 119, 192, 0.1);
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: -5%;
    text-align: left;
    color: #0077c0;
  }

  td {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    letter-spacing: -5%;
    text-align: left;
    color: #555;
  }
}

.table_text {
  display: block;
  margin-top: 6px;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: -5%;

  &.gray {
    color: #888;
  }

  &.orange {
    color: #f7943e;
  }
}

.heading1 {
  display: block;
  margin: 64px 0 32px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -5%;
  color: #555;
}




/* MAINBiz 안내 - 제도안내 */

.overview_visual {
  position: relative;
  display: flex;
  align-items: center;
  height: 300px;
  padding-left: 64px;
  border-radius: 16px;
  background:linear-gradient(to left, #3ec6c9, #5c79d1);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -42px;
    right: 20px;
    width: 612px;
    height: 312px;
    background: url("../images/img_overview_visual.png") no-repeat 0 0;
    background-size: contain;
  }
}

.overview_visual_text {
  display: block;
  font-family: 'Poppins Bold';
  font-size: 64px;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.5);
}